<?php
/**
 * Created by PhpStorm.
 * User: Mehmet HAKKIOĞLU
 * Mail: contact@mehmethakkioglu.com
 * Date: 29.11.2018
 * Time: 20:35
 */
?>
<div class="bgimg">
    <div class="middle">
        <h1>Çok Yakında</h1>
        <hr>
        <p>Son 1 Ay</p>
    </div>
</div>
