<?php
/**
 * Created by PhpStorm.
 * User: Mehmet HAKKIOĞLU
 * Mail: contact@mehmethakkioglu.com
 * Date: 28.11.2018
 * Time: 20:28
 */
?>
<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">Yönetim Paneli</li>
            <li>
                <a href="<?=$this->url('panel');?>">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            </span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-rss"></i> <span>Sayfa Yönetimi</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="<?=$this->url('panel/page/create');?>"><i class="fa fa-circle-o"></i> Sayfa Oluştur</a></li>
                    <li><a href="<?=$this->url('panel/page');?>"><i class="fa fa-circle-o"></i> Sayfa Listele</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-paper-plane"></i> <span>İçerik Yönetimi</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="<?=$this->url('panel/blog/create');?>"><i class="fa fa-circle-o"></i> İçerik Oluştur</a></li>
                    <li><a href="<?=$this->url('panel/blog');?>"><i class="fa fa-circle-o"></i> İçerik Listele</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-list"></i> <span>Menü Yönetimi</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="<?=$this->url('panel/menu/create');?>"><i class="fa fa-circle-o"></i> Menü Oluştur</a></li>
                    <li><a href="<?=$this->url('panel/menu');?>"><i class="fa fa-circle-o"></i> Menü Listele</a></li>
                </ul>
            </li>
        </ul>
    </section>
</aside>
