/*#mvp-wallpaper {
    background: url() no-repeat 50% 0;
}*/

a,
a:visited,
.post-info-name a,
.woocommerce .woocommerce-breadcrumb a {
    color: #07e;
}

a:hover,
nav.mvp-fly-nav-menu ul li a:hover,
.mvp-feat1-story-text h2:hover,
.mvp-feat2-sub-text h2:hover,
.mvp-feat3-text h2:hover,
.mvp-main-blog-text h2:hover,
.mvp-trend-widget-text h2:hover,
.mvp-related-text a:hover,
ul.mvp-post-soc-list li.mvp-post-soc-comm:hover,
span.mvp-author-box-soc:hover,
.woocommerce .woocommerce-breadcrumb a:hover,
h3.mvp-authors-list-head a:hover,
.mvp-authors-widget-wrap span.mvp-main-blog-cat:hover,
.mvp-wide-widget-text h2:hover,
.mvp-side-widget a:hover,
.mvp-blog-col-text h2:hover,
#mvp-nav-menu ul li ul.mvp-mega-list li a:hover {
    color: #ff3c36 !important;
}

.mvp-fly-top:hover,
span.mvp-feat1-main-cat,
span.mvp-feat2-sub-cat,
span.mvp-feat3-cat,
span.mvp-blog-col-cat,
span.mvp-feat2-main-cat,
.mvp-trend-widget-img:after,
.mvp-feat-vid-but,
.mvp-feat-gal-but,
span.mvp-post-cat,
.mvp-prev-next-text a,
.mvp-prev-next-text a:visited,
.mvp-prev-next-text a:hover,
#mvp-comments-button a,
#mvp-comments-button span.mvp-comment-but-text,
a.mvp-inf-more-but:hover,
.mvp-side-widget .mvp-tag-cloud a:hover,
span.mvp-ad-rel-but {
    background: #ff3c36;
}

.mvp-fly-top:hover {
    border: 1px solid #ff3c36;
}

h4.mvp-post-header {
    border-top: 1px solid #ff3c36;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce span.onsale,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
    background-color: #ff3c36;
}

nav.mvp-fly-nav-menu ul li.menu-item-has-children:after,
span.mvp-blog-cat,
span.mvp-main-blog-cat,
h4.mvp-side-widget-head,
h4.mvp-post-bot-head,
#mvp-comments-button span.mvp-comment-but-text,
span.mvp-post-header,
.woocommerce .star-rating span:before,
span.mvp-related-head {
    color: #ff3c36;
}

#mvp-nav-wrap,
.mvp-main-nav-cont {
    background: #fff;
}

#mvp-nav-menu ul li a,
span.mvp-nav-search-but,
span.mvp-nav-soc-but {
    color: #444;
}

.mvp-fly-but-wrap span,
.mvp-search-but-wrap span {
    background: #444;
}

#mvp-nav-menu ul li.menu-item-has-children ul.sub-menu li a:after,
#mvp-nav-menu ul li.menu-item-has-children ul.sub-menu li ul.sub-menu li a:after,
#mvp-nav-menu ul li.menu-item-has-children ul.sub-menu li ul.sub-menu li ul.sub-menu li a:after,
#mvp-nav-menu ul li.menu-item-has-children ul.mvp-mega-list li a:after,
#mvp-nav-menu ul li.menu-item-has-children a:after {
    border-color: #444 transparent transparent transparent;
}

#mvp-nav-menu ul li:hover a,
span.mvp-nav-search-but:hover,
span.mvp-nav-soc-but:hover {
    color: #ff3c36 !important;
}

#mvp-nav-menu ul li.menu-item-has-children:hover a:after {
    border-color: #ff3c36 transparent transparent transparent !important;
}

.mvp-feat1-story-text h2,
.mvp-feat2-sub-text h2,
.mvp-feat1-trend-text h2,
.mvp-feat3-text h2,
.mvp-blog-col-text h2,
.mvp-main-blog-text h2,
.mvp-trend-widget-text h2,
.mvp-wide-widget-text h2,
.mvp-related-text a {
    color: #222222;
}

#mvp-content-main,
.rwp-summary,
.rwp-u-review__comment {
    font-family: 'Merriweather', serif;
}

#mvp-nav-menu ul li a,
nav.mvp-fly-nav-menu ul li a,
#mvp-foot-nav ul.menu li a {
    font-family: 'Work Sans', sans-serif;
}

.mvp-feat2-main-title h2,
h1.mvp-post-title,
#mvp-nav-soc-title h4 {
    font-family: 'Work Sans', sans-serif;
}

.mvp-feat1-story-text h2,
.mvp-feat2-sub-text h2,
.mvp-feat1-trend-text h2,
.mvp-feat3-text h2,
.mvp-blog-col-text h2,
.mvp-main-blog-text h2,
.mvp-trend-widget-text h2,
.mvp-wide-widget-text h2,
.mvp-related-text a,
.mvp-prev-next-text a,
.mvp-prev-next-text a:visited,
.mvp-prev-next-text a:hover,
#mvp-404 h1,
h1.mvp-author-top-head,
#mvp-nav-menu ul li ul.mvp-mega-list li a,
#mvp-content-main blockquote p,
#woo-content h1.page-title,
.woocommerce div.product .product_title,
.woocommerce ul.products li.product h3,
.mvp-authors-list-posts a,
.mvp-side-widget a {
    font-family: 'Work Sans', sans-serif;
}

span.mvp-feat1-main-cat,
span.mvp-feat2-sub-cat,
span.mvp-blog-col-cat,
span.mvp-blog-cat,
h4.mvp-main-blog-head,
h1.mvp-main-blog-head,
span.mvp-main-blog-cat,
h4.mvp-side-widget-head,
span.mvp-post-cat,
h4.mvp-post-bot-head,
span.mvp-post-header,
h1.mvp-arch-head,
h4.mvp-arch-head,
.woocommerce ul.product_list_widget span.product-title,
.woocommerce ul.product_list_widget li a,
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta,
.woocommerce .related h2,
.woocommerce div.product .woocommerce-tabs .panel h2,
.woocommerce div.product .product_title,
#mvp-content-main h1,
#mvp-content-main h2,
#mvp-content-main h3,
#mvp-content-main h4,
#mvp-content-main h5,
#mvp-content-main h6,
#woo-content h1.page-title,
.woocommerce .woocommerce-breadcrumb,
h3.mvp-authors-list-head a,
span.mvp-authors-list-post-head {
    font-family: 'Work Sans', sans-serif;
}



.mvp-nav-links {
    display: none;
}