/*
Theme Name: Click Mag
Description: Click Mag is the only magazine/blog theme you need to maximize clicks and keeep visitors flooding back to your site. From its various social sharing options, trending posts, maximum ad exposure, SEO optimization, and attractive design, Click Mag will deliver the best user experience and clicks of any WordPress theme you've ever used!
Author: MVP Themes
Author URI: https://themeforest.net/user/mvpthemes/portfolio
Theme URI: http://themeforest.net/user/mvpthemes
Version: 3.0.0
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags: two-columns, custom-background, custom-colors, custom-menu, featured-images, theme-options, threaded-comments, translation-ready
Text Domain: click-mag
*/

/************************************************
	Table of Contents

1. Body
2. Hyperlinks
3. Layout
4. Header
5. Navigation
6. Fly-Out Navigation
7. Featured Posts
8. Homepage
9. Sidebar
10. Posts
11. Comments
12. Archives
13. WooCommerce
14. Footer
15. Pagination

************************************************/

/************************************************
	1. Body
************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	overflow-x: hidden;
 	}

body {
	color: #222;
	font-family: 'Lato', Arial, sans-serif;
	font-size: 1rem;
	-webkit-font-smoothing: antialiased;
	font-weight: 400;
	line-height: 100%;
	margin: 0px auto;
	padding: 0px;
	}

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	-webkit-backface-visibility: hidden;
	color: #222;
	}

img {
	max-width: 100%;
	height: auto;
	-webkit-backface-visibility: hidden;
	}

iframe,
embed,
object,
video {
	max-width: 100%;
	}

#truethemes_container #main {
float: left;
}

/************************************************
	2. Hyperlinks
************************************************/

a, a:visited {
	text-decoration: none;
	-webkit-transition: color .25s;
	   -moz-transition: color .25s;
	    -ms-transition: color .25s;
	     -o-transition: color .25s;
		transition: color .25s;
	}

a:hover {
	text-decoration: none;
	}

a:active,
a:focus {
	outline: none;
	}

/************************************************
	3. Layout
************************************************/

#mvp-site,
#mvp-main-wrap {
	overflow: hidden;
	width: 100%;
	}

#mvp-main-wrap {
	background: #fff;
	}

.mvp-main-out {
	float: right;
	margin-left: -200px;
	right: 100px;
	width: 100%;
	}

.mvp-main-in {
	margin-left: 200px;
	}

.relative {
	position: relative;
	}

.w100 {
	width: 100% !important;
	}

.right, .alignright {
	float: right;
	}

.alignright {
	margin: 20px 0 20px 20px;
	}

.left, .alignleft {
	float: left;
	}

.alignleft {
	margin: 20px 20px 20px 0;
	}

.aligncenter {
	display: block;
	margin: 0 auto;
	}

.section-div {
	border-bottom: 1px dotted #ccc;
	float: left;
	margin: 20px 0;
	width: 100%;
	}

.section {
	clear: both;
	overflow: hidden;
	}

.mvp-mob-img {
	display: none;
	}

#mvp-wallpaper {
	display: block;
	position: fixed;
		top: 0;
	width: 100%;
	height: 100%;
	}

.wall-fixed {
	position: fixed !important;
	top: 60px !important;
	}

.mvp-wall-link {
	margin: 0 auto;
	position: absolute;
		top: 0;
	width: 100%;
	height: 100%;
	}

.mvp-feat1-text,
.mvp-feat1-img img,
.mvp-main-blog-text,
.mvp-main-blog-img img,
.mvp-home-head-toggle-list li,
.mvp-home-head-toggle-list li i,
.mvp-feat2-main-img img,
.mvp-feat2-sub-img img,
.mvp-main-blog-img img,
.mvp-trend-widget-img:after,
.mvp-story-share-cont,
.mvp-story-share-cont span,
.mvp-fly-fade,
.mvp-feat2-main-title h2,
.mvp-feat1-story-text h2,
.mvp-feat2-sub-text h2,
.mvp-main-blog-text h2,
.mvp-trend-widget-img img,
.mvp-trend-widget-text h2,
.mvp-related-img img,
ul.mvp-post-soc-list li.mvp-post-soc-comm,
ul.mvp-post-soc-list li,
.mvp-fly-top,
.mvp-fly-top i,
span.mvp-fly-top-text,
span.mvp-author-box-soc,
.mvp-feat1-story-img img,
.mvp-mega-img img,
h3.authors-list-head a,
.mvp-wide-widget-img img,
.mvp-wide-widget-text h2,
a.mvp-inf-more-but,
.mvp-blog-col-img img,
.mvp-blog-col-text h2,
.mvp-tag-cloud a,
.mvp-feat3-img img,
.mvp-feat3-text h2 {
	-webkit-transition: all .25s;
	   -moz-transition: all .25s;
	    -ms-transition: all .25s;
	     -o-transition: all .25s;
		transition: all .25s;
	}

#mvp-head-top,
#mvp-fly-wrap,
#mvp-nav-wrap,
#mvp-main-wrap,
#head-main-top,
#mvp-search-wrap,
#mvp-nav-soc-bar,
#mvp-nav-menu ul li.mvp-mega-dropdown .mvp-mega-dropdown {
	-webkit-transition: -webkit-transform 0.25s ease;
	   -moz-transition: -moz-transform 0.25s ease;
	    -ms-transition: -ms-transform 0.25s ease;
	     -o-transition: -o-transform 0.25s ease;
		transition: transform 0.25s ease;
	}

/************************************************
	4. Header
************************************************/

#mvp-leader-wrap {
	background: #eee;
	line-height: 0;
	text-align: center;
	width: 100%;
	}

#mvp-head-wrap,
#mvp-head-top {
	width: 100%;
	}

#mvp-head-top {
	-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	z-index: 9999;
	}

#mvp-logo-wide {
	background: #fff;
	line-height: 0;
	padding: 20px 0 10px;
	text-align: center;
	width: 100%;
	}

#mvp-logo-nav {
	line-height: 0;
	margin: 0 20px;
	max-width: 250px;
	}

h1.mvp-logo-title,
h2.mvp-logo-title {
	display: block;
	font-size: 0px;
	}

/************************************************
	5. Navigation
************************************************/

#mvp-nav-wrap,
#mvp-nav-right-wrap,
#mvp-nav-main,
.mvp-main-nav-cont {
	width: 100%;
	height: 60px;
	}

#mvp-nav-wrap {
	overflow: hidden;
	z-index: 9000;
	}

#mvp-nav-wrap:hover {
	overflow: visible;
	}

.mvp-nav-left-out {
	float: right;
	margin-left: -320px;
	width: 100%;
	}

.mvp-nav-left-in {
	margin-left: 320px;
	}

.mvp-nav-right-out {
	float: left;
	margin-right: -98px;
	width: 100%;
	}

.mvp-nav-right-in {
	margin-right: 98px;
	}

#mvp-nav-menu {
	top: 0;
	max-width: 542px;
	height: 60px;
	}

#mvp-nav-menu ul,
#mvp-nav-menu ul li {
	float: left;
	}

#mvp-nav-menu ul {
	width: 100%;
	}

#mvp-nav-menu ul li {
	position: relative;
	}

#mvp-nav-menu ul li.mvp-mega-dropdown {
	position: static;
	}

#mvp-nav-menu ul li a {
	float: left;
	font-size: 14px;
	font-weight: 600;
	line-height: 1;
	padding: 23px 12px;
	position: relative;
	text-transform: uppercase;
	}

#mvp-nav-menu ul li.menu-item-has-children ul.sub-menu li a:after,
#mvp-nav-menu ul li.menu-item-has-children ul.sub-menu li ul.sub-menu li a:after,
#mvp-nav-menu ul li.menu-item-has-children ul.sub-menu li ul.sub-menu li ul.sub-menu li a:after,
#mvp-nav-menu ul li.menu-item-has-children ul.mvp-mega-list li a:after {
	border-style: none;
	border-width: medium;
	content: '';
	position: relative;
		top: auto;
		right: auto;
	}

#mvp-nav-menu ul li.menu-item-has-children a:after {
	border-style: solid;
	border-width: 3px 3px 0 3px;
	content: '';
	position: absolute;
		top: 29px;
		right: 5px;
	}

#mvp-nav-menu ul li.menu-item-has-children a {
	padding: 23px 17px 23px 12px;
	}

#mvp-nav-menu ul li ul.sub-menu {
	background: #fff;
	-webkit-box-shadow: -1px 2px 5px 0 rgba(0,0,0,0.15);
	   -moz-box-shadow: -1px 2px 5px 0 rgba(0,0,0,0.15);
	    -ms-box-shadow: -1px 2px 5px 0 rgba(0,0,0,0.15);
	     -o-box-shadow: -1px 2px 5px 0 rgba(0,0,0,0.15);
		box-shadow: -1px 2px 5px 0 rgba(0,0,0,0.15);
	position: absolute;
		top: 60px;
		left: 0;
	max-width: 200px;
	-webkit-transition: -webkit-transform 0.3s;
	   -moz-transition: -moz-transform 0.3s;
	    -ms-transition: -ms-transform 0.3s;
	     -o-transition: -o-transform 0.3s;
		transition: transform 0.3s;
	-webkit-transform: translateY(-999px);
	   -moz-transform: translateY(-999px);
	    -ms-transform: translateY(-999px);
	     -o-transform: translateY(-999px);
		transform: translateY(-999px);
	width: auto;
	z-index: -1;
	}

#mvp-nav-menu ul li.mvp-mega-dropdown ul.sub-menu {
	display: none;
	}

#mvp-nav-menu ul li:hover ul.sub-menu {
	overflow: visible;
	-webkit-transform: translateY(0);
	   -moz-transform: translateY(0);
	    -ms-transform: translateY(0);
	     -o-transform: translateY(0);
		transform: translateY(0);
	}

#mvp-nav-menu ul li ul.sub-menu li {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	}

#mvp-nav-menu ul li ul.sub-menu li a {
	background: #fff;
	border-top: 1px solid rgba(0,0,0,.1);
	color: #444 !important;
	float: left;
	font-size: 12px;
	padding: 12px 20px;
	text-transform: none;
	width: 160px;
	}

#mvp-nav-menu ul li ul.sub-menu li a:hover {
	background: rgba(0,0,0,.1);
	}

#mvp-nav-menu ul li ul.sub-menu ul.sub-menu li ul,
#mvp-nav-menu ul li ul.sub-menu li ul {
	display: none;
	position: absolute;
		top: 0;
		left: 200px;
	z-index: 10;
	}

#mvp-nav-menu ul li ul.sub-menu ul.sub-menu li:hover ul,
#mvp-nav-menu ul li ul.sub-menu li:hover ul {
	display: block;
	}

#mvp-nav-menu ul li ul.sub-menu li .mvp-mega-dropdown {
	display: none;
	}

#mvp-nav-menu ul li:hover ul.sub-menu li.menu-item-has-children a {
	position: relative;
	}

#mvp-nav-menu ul li:hover ul.sub-menu li.menu-item-has-children a:after,
#mvp-nav-menu ul li:hover ul.sub-menu li ul.sub-menu li.menu-item-has-children a:after {
	border-color: transparent transparent transparent #444 !important;
	border-style: solid;
	border-width: 3px 0 3px 3px;
	content: '';
	position: absolute;
		top: 15px;
		right: 10px;
	}

#mvp-nav-menu ul li.mvp-mega-dropdown .mvp-mega-dropdown {
	background: #fff;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);
	   -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);
	    -ms-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);
	     -o-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);
	position: absolute;
		top: 60px;
		left: 0;
	-webkit-transform: translateY(-999px);
	   -moz-transform: translateY(-999px);
	    -ms-transform: translateY(-999px);
	     -o-transform: translateY(-999px);
		transform: translateY(-999px);
	width: 100%;
	z-index: -4000;
	}

#mvp-nav-menu ul li.mvp-mega-dropdown:hover .mvp-mega-dropdown {
	-webkit-transform: translateY(0);
	   -moz-transform: translateY(0);
	    -ms-transform: translateY(0);
	     -o-transform: translateY(0);
		transform: translateY(0);
	}

#mvp-nav-menu ul li ul.mvp-mega-list li a {
	background: none !important;
	color: #222 !important;
	float: left;
	font-size: .9em;
	font-weight: 700;
	line-height: 123%;
	padding: 0 !important;
	text-transform: none;
	}

#mvp-nav-menu ul li ul.mvp-mega-list li .mvp-mega-img a {
	line-height: 0;
	}

ul.mvp-mega-list {
	float: left;
	width: 100% !important;
	}

ul.mvp-mega-list li {
	float: left;
	overflow: hidden;
	padding: 20px 0 20px 1.26342387871%; /* 20px / 1583px */
	width: 18.4838913455%; /* 292.6px / 1583px */
	}

.mvp-mega-img {
	background: #000;
	float: left;
	line-height: 0;
	margin-bottom: 10px;
	overflow: hidden;
	position: relative;
	width: 100%;
	max-height: 130px;
	}

.mvp-mega-img img {
	opacity: .9;
	width: 100%;
	}

ul.mvp-mega-list li:hover .mvp-mega-img img {
	opacity: 1;
	}

.mvp-mega-img a {
	padding: 0;
	}

#mvp-nav-right {
	float: right;
	width: 98px;
	height: 60px;
	}

#mvp-nav-soc {
	width: 58px;
	height: 60px;
	}

span.mvp-nav-search-but,
span.mvp-nav-soc-but {
	float: left;
	line-height: 1;
	}

span.mvp-nav-soc-but {
	font-size: 16px;
	padding: 22px 8px;
	}

span.mvp-nav-search-but {
	cursor: pointer;
	font-size: 20px;
	margin-left: 20px;
	padding: 20px 0;
	}

#mvp-search-wrap {
	-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	background: rgba(255,255,255,.94);
	opacity: 0;
	position: fixed;
		top: 0;
		left: 0;
	-webkit-transform: translate3d(0,-100%,0);
	   -moz-transform: translate3d(0,-100%,0);
	    -ms-transform: translate3d(0,-100%,0);
	     -o-transform: translate3d(0,-100%,0);
		transform: translate3d(0,-100%,0);
	width: 100%;
	height: 100%;
	z-index: 999999;
	}

#mvp-search-box {
	margin: -60px 0 0 -300px;
	position: absolute;
		top: 50%;
		left: 50%;
	width: 600px;
	}

#searchform input {
	background: none;
	border: 0;
	border-bottom: 7px solid #444;
	color: #444;
	float: left;
	font-family: 'Lato', sans-serif;
	font-size: 70px;
	font-weight: 700;
	line-height: 100%;
	padding: 20px 0;
	width: 100%;
	height: 70px;
	}

#searchform #searchsubmit {
	border: none;
	float: left;
	}

#searchform #s:focus {
	outline: none;
	}

.mvp-search-toggle {
	opacity: 1 !important;
	-webkit-transform: translate3d(0,0,0) !important;
	   -moz-transform: translate3d(0,0,0) !important;
	    -ms-transform: translate3d(0,0,0) !important;
	     -o-transform: translate3d(0,0,0) !important;
		transform: translate3d(0,0,0) !important;
	}

#mvp-main-content-wrap {
	border-top: 1px solid #ddd;
	margin-bottom: 60px;
	width: 100%;
	}

.single #mvp-main-content-wrap {
	border-top: none;
	}

.woocommerce #mvp-main-content-wrap {
	border-top: 1px solid #ddd;
	}

.attachment #mvp-main-content-wrap {
	border-top: 1px solid #ddd;
	}

.archive #mvp-main-content-wrap,
.search #mvp-main-content-wrap {
	padding-top: 30px;
	}

.category #mvp-main-content-wrap,
.woocommerce #mvp-main-content-wrap {
	padding-top: 0;
	}

.mvp-fixed {
	-webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
	   -moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
	    -ms-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
	     -o-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
		box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
	position: fixed !important;
	z-index: 9999;
	}

.mvp-fixed-next {
	margin-top: 60px;
	}

#mvp-nav-soc-bar {
	background: #fff;
	position: fixed;
		top: 0;
		left: 0;
	-webkit-transform: translateY(-100px);
	   -moz-transform: translateY(-100px);
	    -ms-transform: translateY(-100px);
	     -o-transform: translateY(-100px);
		transform: translateY(-100px);
	width: 100%;
	height: 60px;
	z-index: 9999;
	}

.mvp-nav-soc-down {
	-webkit-transform: translateY(0) !important;
	   -moz-transform: translateY(0) !important;
	    -ms-transform: translateY(0) !important;
	     -o-transform: translateY(0) !important;
		transform: translateY(0) !important;
	}

#mvp-nav-soc-cont {
	width: 100%;
	}

#mvp-nav-soc-title {
	overflow: hidden;
	max-width: 835px;
	}

#mvp-nav-soc-title h4 {
	color: #222;
	font-size: 20px;
	font-weight: 700;
	line-height: 1;
	margin-top: 20px;
	width: 200%;
	}

#mvp-nav-soc-list {
	margin: 15px 0 0 30px;
	width: 335px;
	}

/************************************************
	6. Fly-Out Navigation
************************************************/

#mvp-fly-wrap {
	background: #fff;
	overflow: hidden;
	position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
	-webkit-transform: translate3d(-370px,0,0);
	   -moz-transform: translate3d(-370px,0,0);
	    -ms-transform: translate3d(-370px,0,0);
	     -o-transform: translate3d(-370px,0,0);
		transform: translate3d(-370px,0,0);
	width: 370px;
	height: 100%;
	z-index: 999999;
	}

.mvp-fly-but-wrap,
.mvp-search-but-wrap {
	cursor: pointer;
	width: 30px;
	height: 60px;
	}

.mvp-search-but-wrap {
	position: absolute;
		top: 60px;
		right: 80px;
	width: 60px;
	}

.mvp-fly-but-wrap span,
.mvp-search-but-wrap span {
	display: block;
	position: absolute;
		left: 0;
	-webkit-transform: rotate(0deg);
	   -moz-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	     -o-transform: rotate(0deg);
		transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	   -moz-transition: .25s ease-in-out;
	    -ms-transition: .25s ease-in-out;
	     -o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;
	height: 3px;
	}

.mvp-search-but-wrap span {
	top: 27px;
	}

.mvp-fly-but-wrap span:nth-child(1) {
	top: 20.5px;
	width: 30px;
	}

.mvp-fly-but-wrap span:nth-child(2),
.mvp-fly-but-wrap span:nth-child(3) {
	top: 28.5px;
	width: 24px;
	}

.mvp-fly-but-wrap span:nth-child(4) {
	top: 36.5px;
	width: 18px;
	}

.mvp-fly-but-wrap.mvp-fly-open span:nth-child(1),
.mvp-fly-but-wrap.mvp-fly-open span:nth-child(4) {
	top: 24px;
	left: 50%;
	width: 0%;
	}

.mvp-fly-but-wrap.mvp-fly-open span:nth-child(2),
.mvp-search-but-wrap span:nth-child(1) {
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
		transform: rotate(45deg);
	width: 30px;
	}

.mvp-fly-but-wrap.mvp-fly-open span:nth-child(3),
.mvp-search-but-wrap span:nth-child(2) {
	-webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	     -o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	width: 30px;
	}

.mvp-search-but-wrap span:nth-child(1),
.mvp-search-but-wrap span:nth-child(2) {
	width: 60px;
	}

#mvp-fly-menu-top {
	width: 100%;
	height: 60px;
	}

.mvp-fly-top-out {
	margin-right: -60px;
	width: 100%;
	}

.mvp-fly-top-in {
	margin-right: 60px;
	}

#mvp-fly-logo {
	margin: 0 6.45161290323%; /* 20 / 310 */
	width: 87.0967741935%; /* 270 / 310 */
	}

#mvp-fly-logo img {
	line-height: 0;
	}

.mvp-fly-but-menu {
	float: left;
	margin-left: 15px;
	position: relative;
	}

.mvp-fly-menu {
	-webkit-transform: translate3d(0,0,0) !important;
	   -moz-transform: translate3d(0,0,0) !important;
	    -ms-transform: translate3d(0,0,0) !important;
	     -o-transform: translate3d(0,0,0) !important;
		transform: translate3d(0,0,0) !important;
	}

.mvp-fly-content,
.mvp-nav-over {
	-webkit-transform: translate3d(370px,0,0) !important;
	   -moz-transform: translate3d(370px,0,0) !important;
	    -ms-transform: translate3d(370px,0,0) !important;
	     -o-transform: translate3d(370px,0,0) !important;
		transform: translate3d(370px,0,0) !important;
	}

.mvp-fly-top {
	background: #fff;
	border: 1px solid #222;
	-webkit-border-radius: 5px;
		border-radius: 5px;
	cursor: pointer;
	overflow: hidden;
	position: fixed;
		right: 15px;
		bottom: 0;
	-webkit-transition: all .3s;
		transition: all .3s;
	width: 50px;
	height: 50px;
	z-index: 500;
	}

.mvp-fly-top {
	-webkit-transform: translate3d(0,100px,0);
	   -moz-transform: translate3d(0,100px,0);
	    -ms-transform: translate3d(0,100px,0);
	     -o-transform: translate3d(0,100px,0);
		transform: translate3d(0,100px,0);
	}

.mvp-to-top {
	-webkit-transform: translate3d(0,-15px,0);
	   -moz-transform: translate3d(0,-15px,0);
	    -ms-transform: translate3d(0,-15px,0);
	     -o-transform: translate3d(0,-15px,0);
		transform: translate3d(0,-15px,0);
	}

.mvp-fly-top i {
	font-size: 40px;
	line-height: 100%;
	position: absolute;
		top: -3px;
		left: 12.1px;
	}

span.mvp-fly-top-text {
	font-family: 'Work Sans', sans-serif;
	font-size: 8px;
	font-weight: 600;
	line-height: 100%;
	position: absolute;
		bottom: 11px;
		left: 10.5px;
	text-transform: uppercase;
	}

.mvp-fly-top i,
span.mvp-fly-top-text {
	color: #222;
	}

.mvp-fly-top:hover i,
.mvp-fly-top:hover span.mvp-fly-top-text {
	color: #fff;
	} 

#mvp-fly-menu-wrap {
	overflow: hidden;
	position: absolute;
		top: 60px;
		left: 0;
	width: 100%;
	height: 100%;
	}

nav.mvp-fly-nav-menu {
	-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	margin: 20px 5.40540540541% 0; /* 20px / 370px */
	overflow: hidden;
	position: absolute !important;
	width: 89.1891891892%; /* 330px / 370px */
	max-height: 65%;
	}

nav.mvp-fly-nav-menu ul {
	float: left;
	position: relative;
	width: 100%;
	}

nav.mvp-fly-nav-menu ul div.mvp-mega-dropdown {
	display: none;
	}

nav.mvp-fly-nav-menu ul li {
	border-top: 1px solid #eee;
	cursor: pointer;
	float: left;
	position: relative;
	width: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	}

nav.mvp-fly-nav-menu ul li:first-child {
	border-top: none;
	margin-top: -14px;
	}

nav.mvp-fly-nav-menu ul li ul li:first-child {
	margin-top: 0;
	}

nav.mvp-fly-nav-menu ul li a {
	color: #444;
	display: inline-block;
	float: left;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1;
	padding: 14px 0;
	text-transform: uppercase;
	}

nav.mvp-fly-nav-menu ul li.menu-item-has-children:after {
	content: '+';
	font-family: 'Open Sans', sans-serif;
	font-size: 32px;
	font-weight: 700;
	position: absolute;
		right: 0;
		top: 5px;
	}

nav.mvp-fly-nav-menu ul li.menu-item-has-children.tog-minus:after {
	content: '_';
	right: 3px;
	top: -10px;
	}

nav.mvp-fly-nav-menu ul li ul.sub-menu {
	border-top: 1px solid #eee;
	display: none;
	float: left;
	padding-left: 6.66666666666%; /* 20px / 300px */
	width: 93.333333333%; /* 280px / 300px */
	}

.mvp-fly-fade {
	background: #222;
	cursor: pointer;
	opacity: 0;
	width: 100%;
	position: fixed;
		top: 0;
		left: 0;
	z-index: 99999;
	}

.mvp-fly-fade-trans {
	opacity: .6;
	height: 100%;
	}

#mvp-fly-soc-wrap {
	margin: 0 5.40540540541%; /* 20px / 370px */
	position: absolute;
		bottom: 20px;
		left: 0;
	text-align: center;
	width: 89.1891891892%; /* 330px / 370px */
	}

span.mvp-fly-soc-head {
	color: #777;
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-size: .65rem;
	font-weight: 400;
	line-height: 1;
	margin-bottom: 15px;
	text-transform: uppercase;
	}

ul.mvp-fly-soc-list {
	text-align: center;
	width: 100%;
	}

ul.mvp-fly-soc-list li {
	display: inline-block;
	}

ul.mvp-fly-soc-list li a {
	background: #222;
	-webkit-border-radius: 50%;
		border-radius: 50%;
	color: #fff !important;
	display: inline-block;
	font-size: 12px;
	line-height: 1;
	margin-left: 2px;
	padding-top: 10px;
	text-align: center;
	-webkit-transition: background .25s;
	   -moz-transition: background .25s;
	    -ms-transition: background .25s;
	     -o-transition: background .25s;
		transition: background .25s;
	width: 32px;
	height: 22px;
	}

ul.mvp-fly-soc-list li:first-child a {
	margin-left: 0;
	}

ul.mvp-fly-soc-list li a:hover {
	background: #fff;
	border: 2px solid #222;
	color: #222 !important;
	padding-top: 8px;
	width: 28px;
	height: 20px;
	}

/************************************************
	7. Featured Posts
************************************************/

#mvp-feat-home-wrap {
	margin-bottom: 30px;
	width: 100%;
	}

#mvp-feat1-wrap {
	width: 100%;
	}

.mvp-feat1-story {
	width: 33.3333333333%;
	}

.mvp-feat1-story:first-child {
	margin-left: 0;
	}

.mvp-feat1-story-img {
	background: #222;
	line-height: 0;
	width: 100%;
	}

.mvp-feat1-story-img img {
	opacity: .9;
	}

.mvp-feat1-story:hover .mvp-feat1-story-img img {
	opacity: 1;
	}

.mvp-feat1-story-text {
	padding: 15px 15% 0;
	text-align: center;
	width: 70%;
	}

h3.mvp-feat1-main-cat,
h3.mvp-feat2-sub-cat,
h3.mvp-blog-col-cat {
	float: left;
	line-height: 0;
	position: absolute;
		top: -20.4px;
	width: 100%;
	}

h3.mvp-feat3-cat {
	float: left;
	line-height: 0;
	margin-bottom: 10px;
	width: 100%;
	}

h3.mvp-feat1-main-cat {
	left: 0;
	}

h3.mvp-feat2-sub-cat,
h3.mvp-blog-col-cat {
	left: 20px;
	}

span.mvp-feat1-main-cat,
span.mvp-feat2-sub-cat,
span.mvp-feat3-cat,
span.mvp-blog-col-cat {
	color: #fff;
	display: inline-block;
	font-size: .65rem;
	font-weight: 600;
	letter-spacing: .05rem;
	line-height: 1;
	padding: 5px 10px;
	text-transform: uppercase;
	}

.mvp-feat1-story-text h2,
.mvp-feat2-sub-text h2 {
	float: left;
	font-size: 1.4rem;
	font-weight: 700;
	line-height: 123%;
	}

.mvp-feat1-info {
	display: inline-block;
	line-height: 0;
	margin-top: 12px;
	}

.mvp-feat2-main .mvp-feat1-info {
	background: rgba(0,0,0,.8);
	margin-top: 1px;
	padding: 8px 10px;
	}

.mvp-feat1-info span {
	color: #999;
	float: left;
	font-family: 'Work Sans', sans-serif;
	font-size: .7rem;
	font-weight: 400;
	line-height: 100%;
	text-transform: uppercase;
	}

.mvp-feat2-main .mvp-feat1-info span,
.mvp-feat2-main span.mvp-blog-author a {
	color: #ccc;
	}

.mvp-feat1-info span.mvp-blog-author a {
	font-size: .7rem;
	}

.mvp-feat1-trend-wrap {
	width: 100%;
	}

.mvp-feat1-trend-story {
	border-top: 1px solid #ddd;
	margin-top: 20px;
	padding-top: 20px;
	width: 100%;
	}

.mvp-feat1-trend-story:first-child {
	border-top: none;
	margin-top: 0;
	padding-top: 0;
	}

.mvp-feat1-trend-text {
	width: 100%;
	}

.mvp-feat1-trend-story-out {
	float: right;
	margin-left: -120px;
	width: 100%;
	}

.mvp-feat1-trend-story-in {
	margin-left: 120px;
	}

.mvp-feat1-trend-img {
	float: left;
	line-height: 0;
	margin-right: 20px;
	width: 100px;
	}

.mvp-feat1-trend-img img {
	border-radius: 50%;
	overflow: hidden;
	}

span.mvp-blog-cat {
	float: left;
	width: 100%;
	}

span.mvp-blog-cat h3 {
	float: left;
	font-size: .65rem;
	font-weight: 500;
	line-height: 1;
	margin-bottom: 4px;
	text-transform: uppercase;
	}

.mvp-feat1-trend-text h2 {
	float: left;
	font-size: 1.1rem;
	font-weight: 600;
	line-height: 123%;
	width: 100%;
	}

.mvp-blog-info {
	color: #999;
	float: left;
	font-family: 'Work Sans', sans-serif;
	font-size: .7rem;
	font-weight: 400;
	line-height: 100%;
	margin-top: 8px;
	text-transform: uppercase;
	width: 100%;
	}

.mvp-trend-text .mvp-blog-info {
	text-align: center;
	}

.mvp-blog-info span {
	display: inline-block;
	}

span.mvp-blog-author a {
	font-weight: 500;
	}

span.mvp-blog-date {
	margin-left: 10px;
	}

.author span.mvp-blog-date {
	margin-left: 0;
	}

span.mvp-blog-date i {
	float: left;
	font-size: .65rem;
	font-weight: 400;
	}

.mvp-blog-time {
	vertical-align: top;
	margin-left: 5px;
	}

#mvp-feat2-wrap {
	border-bottom: 1px solid #ddd;
	width: 100%;
	}

.mvp-feat2-main {
	width: 50%;
	}

.mvp-feat2-main-img {
	width: 100%;
	max-height: 415px;
	}

.mvp-feat2-main-img,
.mvp-feat2-sub-img {
	background: #222;
	line-height: 0;
	overflow: hidden;
	}

.mvp-feat2-main-img img,
.mvp-feat2-sub-img img,
.mvp-main-blog-img img {
	opacity: .9;
	}

.mvp-feat2-main:hover .mvp-feat2-main-img img,
.mvp-feat2-sub:hover .mvp-feat2-sub-img img,
.mvp-feat2-bot-story:hover .mvp-feat2-bot-img img {
	opacity: 1;
	}

.mvp-feat2-main-text {
	padding: 0 10% 20px 3%;
	position: absolute;
		left: 0;
		bottom: 0;
	width: 87%;
	}

.mvp-feat2-main-title {
	margin-left: 10px;
	width: 90%;
	}

h3.mvp-feat2-main-cat,
h1.mvp-feat2-main-cat {
	margin-bottom: 1px;
	width: 100%;
	}

span.mvp-feat2-main-cat {
	color: #fff;
	display: inline;
	font-family: 'Work Sans', sans-serif;
	font-size: .65rem;
	font-weight: 500;
	letter-spacing: .05rem;
	line-height: 1;
	padding: 5px 10px;
	text-transform: uppercase;
	}

.category span.mvp-feat2-main-cat,
.category span.mvp-feat3-cat {
	font-size: 1.2rem;
	font-weight: 600;
	letter-spacing: 0;
	}

.mvp-feat2-main-title h2 {
	background-color: rgba(0,0,0,.8);
	box-decoration-break: clone;
	-webkit-box-shadow: 10px 0 0 rgba(0,0,0,.8), -10px 0 0 rgba(0,0,0,.8);
	   -moz-box-shadow: 10px 0 0 rgba(0,0,0,.8), -10px 0 0 rgba(0,0,0,.8);
	    -ms-box-shadow: 10px 0 0 rgba(0,0,0,.8), -10px 0 0 rgba(0,0,0,.8);
	     -o-box-shadow: 10px 0 0 rgba(0,0,0,.8), -10px 0 0 rgba(0,0,0,.8);
		box-shadow: 10px 0 0 rgba(0,0,0,.8), -10px 0 0 rgba(0,0,0,.8);
	color: #fff;
	display: inline;
	font-size: 3.2rem;
	font-weight: 700;
	line-height: 122%;
	}

.mvp-feat2-main-title h2:hover {
	color: #ffee00;
	}

.mvp-feat2-main-title h2.mvp-stand-title {
	font-size: 2.2rem;
	line-height: 125%;
	}

.mvp-feat2-sub {
	overflow: hidden;
	width: 25%;
	height: 100%;
	}

.mvp-feat2-sub-text-before {
	border-right: 1px solid #ddd;
	margin-left: -1px;
	width: 100%;
	}

.mvp-feat2-sub-text-before:before {
	content: '';
	display: block;
	padding-top: 59.9%;
	width: 100%;
	}

.mvp-feat2-sub-text-out {
	border-right: 1px solid #ddd;
	left: -1px;
	margin-right: -1px;
	width: 100%;
	height: 100%;
	}

.mvp-feat2-sub-text-in {
	margin-right: 1px;
	}

span.mvp-feat2-sub-text-line {
	display: none;
	float: right;
	border-right: 1px solid #ddd;
	width: 0;
	height: 100%;
	}

.mvp-feat2-sub-text {
	padding: 15px 6% 0;
	position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	width: 88%;
	}

#mvp-feat3-wrap {
	width: 100%;
	}

.mvp-feat3-img {
	background: #222;
	line-height: 0;
	width: 50%;
	}

.mvp-feat3-img img {
	opacity: .9;
	}

#mvp-feat3-wrap:hover .mvp-feat3-img img {
	opacity: 1;
	}

.mvp-feat3-text {
	padding: 30px 3% 0; /* 30 / 1383 */
	width: 44%; /* 631.5 / 1383 */
	}

.mvp-feat3-text h2 {
	float: left;
	font-size: 3.6rem;
	font-weight: 900;
	line-height: 105%;
	margin-bottom: 8px;
	width: 100%;
	}

.mvp-feat3-text h2.mvp-stand-title {
	font-size: 2.3rem;
	line-height: 115%;
	}

.mvp-feat3-text p {
	color: #555;
	float: left;
	font-family: 'Lato', sans-serif;
	font-size: 1.9rem;
	font-weight: 300;
	line-height: 140%;
	margin-top: 10px;
	width: 100%;
	}

/************************************************
	8. Homepage
************************************************/

#mvp-content-body-wrap {
	width: 100%;
	}

.mvp-content-side-out {
	float: left;
	width: 100%;
	}

.mvp-content-side-out {
	margin-right: -400px;
	}

.mvp-content-side-in {
	margin-right: 400px;
	}

#mvp-home-body,
.mvp-main-blog-wrap,
#mvp-home-body-left,
.mvp-blog-col-wrap {
	width: 100%;
	}

#mvp-home-head-toggle {
	margin-bottom: 10px;
	width: 100%;
	}

.mvp-home-head-toggle-list {
	font-size: 0;
	margin-bottom: 5px;
	text-align: right;
	width: 100%;
	}

.mvp-home-head-toggle-list li {
	cursor: pointer;
	display: inline-block;
	font-family: 'Work Sans', sans-serif;
	font-size: .9rem;
	font-weight: 700;
	letter-spacing: .05rem;
	margin-left: 20px;
	text-transform: uppercase;
	}

.mvp-home-head-toggle-list li a {
	color: #ccc;	
	}

.mvp-home-head-toggle-list li i {
	color: #ccc;
	display: inline-block;
	font-size: .9rem;
	}

span.mvp-home-head-toggle-item {
	display: inline-block;
	margin-left: 5px;
	}

.mvp-home-head-toggle-list li:first-child {
	margin-left: 0;
	}

.mvp-home-head-toggle-list li.active a,
.mvp-home-head-toggle-list li.active i,
.mvp-home-head-toggle-list li:hover a,
.mvp-home-head-toggle-list li:hover i {
	color: #444 !important;
	}

.mvp-blog-col-wrap {
	display: none;
	}

ul.mvp-blog-col-story {
	border-left: 1px solid #ddd;
	width: 100%;
	}

ul.mvp-blog-col-story li {
	border-bottom: 1px solid #ddd;
	float: left;
	position: relative;
	width: 33.33333333%;
	}

.mvp-blog-col-img {
	background: #222;
	line-height: 0;
	width: 100%;
	}

.mvp-blog-col-img img {
	opacity: .9;
	}

ul.mvp-blog-col-story li:hover .mvp-blog-col-img img {
	opacity: 1;
	}

.mvp-blog-col-text-before {
	border-right: 1px solid #ddd;
	margin-left: -1px;
	width: 100%;	
	}

.mvp-blog-col-text-before:before {
	content: '';
	display: block;
	padding-top: 59.9%;
	width: 100%;
	}

.mvp-blog-col-text {
	border-right: 1px solid #ddd;
	margin-left: -1px;
	padding: 15px 15.243902439% 20px 6.09756097561%; /* 20 / 50 / 328 */
	width: 78.6585365854%; /* 258 / 328 */
	height: 148px;
	}

.mvp-blog-col-text .mvp-story-share-wrap {
	right: -1px;
	}

.mvp-blog-col-text h2 {
	color: #222;
	float: left;
	font-size: 1.2rem;
	font-weight: 700;
	line-height: 123%;
	width: 100%;
	}

h4.mvp-main-blog-head,
h1.mvp-main-blog-head {
	color: #222;
	font-size: 2.2rem;
	font-weight: 800;
	line-height: 1;
	margin-bottom: 30px;
	text-align: center;
	width: 100%;
	}

.mvp-main-blog-wrap {
	border-top: 1px solid #ddd;
	display: block;
	}

ul.mvp-main-blog-story li {
	float: left;
	width: 100%;
	}

ul.mvp-main-blog-story li:first-child {
	border-top: none;
	margin-top: 0;
	padding-top: 0;
	}

.mvp-main-blog-out {
	float: right;
	margin-left: -400px;
	width: 100%;
	}

.mvp-main-blog-in {
	margin-left: 400px;
	}

.mvp-main-blog-img {
	background: #222;
	line-height: 0;
	text-align: center;
	width: 400px;
	}

ul.mvp-main-blog-story li:hover .mvp-main-blog-img img {
	opacity: 1;
	}

.mvp-main-blog-text {
	background: #fff;
	border-bottom: 1px solid #ddd;
	left: 0;
	overflow: hidden;
	padding: 20px 8% 0 5%;
	width: 87%;
	height: 219px;
	}

.mvp-blog-text-only {
	padding: 20px 6.10376398779% 30px 2.03458799593%; /* 20 / 60 / 983 */
	width: 91.8616480163%; /* 903 / 983 */
	height: auto;
	}

h3.mvp-main-blog-cat {
	margin-bottom: 5px;
	width: 100%;
	}

span.mvp-main-blog-cat {
	display: inline-block;
	font-size: .7rem;
	font-weight: 600;
	letter-spacing: .05rem;
	text-transform: uppercase;
	}

.mvp-main-blog-text h2 {
	float: left;
	font-size: 1.4rem;
	font-weight: 700;
	line-height: 123%;
	width: 100%;
	}

.mvp-main-blog-text p {
	color: #555;
	float: left;
	font-family: 'Lato', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 140%;
	margin-top: 8px;
	width: 100%;
	}

.mvp-story-share-wrap {
	font-size: 18px;
	overflow: hidden;
	position: absolute;
		right: 0;
		top: 0;
	width: 30px;
	}

span.mvp-story-share-but {
	background: #ddd;
	color: #fff;
	cursor: pointer;
	padding-top: 6px;
	position: relative;
	text-align: center;
	width: 100%;
	height: 24px;
	z-index: 5;
	}

.mvp-story-share-wrap:hover span.mvp-story-share-but {
	background: #bbb;
	}

.mvp-story-share-cont {
	float: left;
	position: relative;
	-webkit-transform: translate3d(0,-120px,0);
	   -moz-transform: translate3d(0,-120px,0);
	    -ms-transform: translate3d(0,-120px,0);
	     -o-transform: translate3d(0,-120px,0);
		transform: translate3d(0,-120px,0);
	width: 100%;
	}

.mvp-story-share-wrap:hover .mvp-story-share-cont {
	-webkit-transform: translate3d(0,0,0);
	   -moz-transform: translate3d(0,0,0);
	    -ms-transform: translate3d(0,0,0);
	     -o-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}

.mvp-story-share-cont span {
	background: #fff;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	color: #bbb;
	float: left;
	cursor: pointer;
	padding-top: 8px;
	text-align: center;
	width: 28px;
	height: 24px;	
	}

span.mvp-story-share-fb:hover {
	background: #3e64ad;
	border-left: 1px solid #3e64ad;
	border-right: 1px solid #3e64ad;
	border-bottom: 1px solid #3e64ad;
	color: #fff;
	}

span.mvp-story-share-twit:hover {
	background: #58ccff;
	border-left: 1px solid #58ccff;
	border-right: 1px solid #58ccff;
	border-bottom: 1px solid #58ccff;
	color: #fff;
	}

span.mvp-story-share-pin:hover {
	background: #de010d;
	border-left: 1px solid #de010d;
	border-right: 1px solid #de010d;
	border-bottom: 1px solid #de010d;
	color: #fff;
	}

.mvp-trend-widget-story .mvp-story-share-wrap {
	top: -10px;
	font-size: 14px;
	width: 26px;
	}

.mvp-trend-widget-story .mvp-story-share-cont span {
	width: 24px;
	}

.mvp-trend-widget-story span.mvp-story-share-but,
.mvp-trend-widget-story .mvp-story-share-cont span {
	height: 20px;
	}

/************************************************
	9. Sidebar
************************************************/

#mvp-side-wrap {
	float: right;
	margin-left: 60px;
	width: 340px;
	}

.mvp-side-widget {
	float: left;
	margin-bottom: 30px;
	position: relative;
	width: 100%;
	}

.mvp-side-widget p {
	line-height: 140%;
	margin-bottom: 10px;
	}

.mvp-side-widget a {
	color: #222;
	font-size: .95rem;
	font-weight: 700;
	line-height: 123%;
	}

h4.mvp-side-widget-head {
	display: inline-block;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1;
	margin-bottom: 20px;
	position: relative;
	width: 100%;
	}

.mvp-trend-widget-wrap,
.mvp-trend-widget-story,
.mvp-authors-widget-wrap {
	width: 100%;
	}

.mvp-trend-widget-story {
	counter-increment: mvp-trend;
	border-top: 1px solid #ddd;
	margin-top: 10px;
	padding-top: 10px;
	}

.mvp-trend-widget-story:first-child {
	margin-top: 0;
	}

.mvp-100img-out {
	margin-left: -120px;
	width: 100%;
	}

.mvp-100img-in {
	margin-left: 120px;
	}

.mvp-trend-widget-img {
	background: #222;
	-webkit-border-radius: 50%;
		border-radius: 50%;
	line-height: 0;
	margin-right: 20px;
	width: 100px;
	}

.mvp-authors-widget-wrap .mvp-trend-widget-img {
	background: none;
	}

.mvp-trend-widget-img:after {
	content: counter(mvp-trend);
	border: 3px solid #fff;
	-webkit-border-radius: 50%;
		border-radius: 50%;
	color: #fff;
	font-family: 'Work Sans', sans-serif;
	font-size: 20px;
	font-weight: 700;
	margin-top: -18px;
	line-height: 1;
	padding-top: 5px;
	position: absolute;
		top: 50%;
		left: -18px;
	text-align: center;
	width: 30px;
	height: 25px
	}

.mvp-authors-widget-wrap .mvp-trend-widget-img:after {
	display: none;
	}

.mvp-trend-widget-img img {
	opacity: .9;
	overflow: hidden;
	-webkit-border-radius: 50%;
		border-radius: 50%;
	}

.mvp-trend-widget-story:hover .mvp-trend-widget-img img,
.mvp-authors-widget-wrap .mvp-trend-widget-img img {
	opacity: 1;
	}

.mvp-trend-widget-text {
	width: 85%;
	}

.mvp-authors-widget-wrap .mvp-trend-widget-text {
	width: 100%;
	}

.mvp-trend-widget-text h3.mvp-main-blog-cat {
	margin-bottom: 2px;
	}

.mvp-authors-widget-wrap h3.mvp-main-blog-cat {
	margin: 5px 0 10px;
	}

.mvp-trend-widget-text span.mvp-main-blog-cat {
	font-size: .65rem;
	}

.mvp-authors-widget-wrap span.mvp-main-blog-cat {
	color: #222;
	font-size: 1.2rem;
	font-weight: 700;
	letter-spacing: 0;
	text-transform: none;
	}

.mvp-trend-widget-text h2 {
	float: left;
	font-size: .95rem;
	font-weight: 600;
	line-height: 123%;
	width: 100%;
	}

.mvp-authors-widget-wrap .mvp-trend-widget-text h2 {
	font-size: .9rem;
	font-weight: 500;
	}

.mvp-wide-widget-wrap {
	width: 100%;
	}

.mvp-wide-widget-story {
	margin-top: 30px;
	width: 100%;
	}

.mvp-wide-widget-story:first-child {
	margin-top: 0;
	}

.mvp-wide-widget-img {
	background: #222;
	line-height: 0;
	width: 100%;
	}

.mvp-wide-widget-img img {
	opacity: .9;
	width: 100%;
	}

.mvp-wide-widget-story:hover .mvp-wide-widget-img img {
	opacity: 1;
	}

.mvp-wide-widget-text {
	padding: 15px 6% 0;
	width: 88%;
	}

.mvp-wide-widget-text .mvp-feat1-info {
	margin-top: 10px;
	}

.mvp-wide-widget-text h2 {
	float: left;
	font-size: 1.2rem;
	font-weight: 700;
	line-height: 123%;
	width: 100%;
	}

.mvp-widget-ad {
	line-height: 0;
	text-align: center;
	width: 100%;
	}

.mvp-ad-label {
	color: #aaa;
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-size: .65rem;
	font-weight: 400;
	letter-spacing: .1em;
	line-height: 1;
	position: relative;
		top: -10px;
	text-transform: uppercase;
	}

#mvp-side-wrap .mvp-widget-ad {
	background: #eee;
	padding: 20px;
	width: 300px;
	}

.single .mvp-side-widget:first-child .mvp-widget-ad {
	margin-top: -30px;
	}

.mvp-tag-cloud {
	float: left;
	width: 100%;
	}

.mvp-tag-cloud a {
	background: #eee;
	color: #aaa !important;
	float: left;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	line-height: 100%;
	margin: 0 5px 5px 0;
	padding: 5px 7px;
	text-transform: uppercase;
	}

.mvp-tag-cloud a:visited {
	color: #555;
	}

.mvp-side-widget .mvp-tag-cloud a:hover {
	color: #fff !important;
	}

.mvp_facebook_widget {
	text-align: center;
	}

.widget_calendar {
	float: left;
	}

#wp-calendar {
	width: 100%;
	}

#wp-calendar caption {
	text-align: right;
	color: #333;
	font-size: 12px;
	margin-bottom: 15px;
	}

#wp-calendar thead {
	font-size: 10px;
	}

#wp-calendar thead th {
	padding-bottom: 10px;
	}

#wp-calendar tbody {
	color: #aaa;
	}

#wp-calendar tbody td {
	background: #f5f5f5;
	border: 1px solid #fff;
	text-align: center;
	padding:8px;
	}

#wp-calendar tbody td:hover {
	background: #fff;
	}

#wp-calendar tbody .pad {
	background: none;
	}

#wp-calendar tfoot #next {
	font-size: 10px;
	text-transform: uppercase;
	text-align: right;
	}

#wp-calendar tfoot #prev {
	font-size: 10px;
	text-transform: uppercase;
	padding-top: 10px;
	}

.widget_rss ul,
.widget_rss ul li {
	float: left;
	width: 100%;
	}

.widget_rss ul li {
	margin-bottom: 20px;
	}

.widget_rss ul li a {
	float: left;
	font-weight: 700;
	line-height: 123%;
	margin-bottom: 5px;
	width: 100%;
	}

.widget_rss ul li span.rss-date {
	float: left;
	font-size: .75rem;
	margin-bottom: 5px;
	width: 100%;
	}

.widget_rss ul li .rssSummary {
	float: left;
	margin-bottom: 8px;
	width: 100%;
	}

.widget_rss ul li cite {
	float: left;
	font-size: .8rem;
	width: 100%;
	}

.widget_recent_entries li {
	float: left;
	margin-bottom: 10px;
	width: 100%;
	}

/************************************************
	10. Posts
************************************************/

#mvp-content-left-wrap {
	width: 100%;
	}

#mvp-post-area {
	float: left;
	padding-top: 30px;
	position: relative;
	width: 100%;
	}

#mvp-post-content-wrap {
	width: 100%;
	}

#mvp-post-feat-img,
#mvp-post-feat2-img {
	line-height: 0;
	margin-top: -30px;
	width: 100%;
	}

#mvp-post-feat-img {
	text-align: center;
	}

#mvp-post-feat2-text {
	padding: 0 15% 30px 3%;
	position: absolute;
		left: 0;
		bottom: 0;
	width: 82%;
	}

.mvp-post-img-hide {
	display: none;
	}

#mvp-video-embed,
span.embed-youtube {
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	text-align: center;
	width: 100%;
	height: 0;
	}

#mvp-video-embed {
	margin-top: -30px;
	}

#mvp-video-embed iframe,
#mvp-video-embed object,
#mvp-video-embed embed,
span.embed-youtube iframe,
span.embed-youtube object,
span.embed-youtube embed {
	position: absolute;
		top: 0;
		left: 0;
	width: 100%;
	height: 100%;
	}

.mvp-feat-vid-but,
.mvp-feat-gal-but {
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	    -ms-border-radius: 50%;
	     -o-border-radius: 50%;
		border-radius: 50%;
	position: absolute;
		right: 20px;
		top: 20px;
	width: 40px;
	height: 40px;
	}

.mvp-feat-vid-but i {
	-webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
	color: #fff;
	font-size: 22px;
	margin: -26.66666666% 0 0 -16.66666666%;
	position: absolute;
		top: 50%;
		left: 50%;
	}

.mvp-feat-gal-but i {
	-webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
	color: #fff;
	font-size: 18px;
	margin: -9px 0 0 -9px;
	position: absolute;
		top: 50%;
		left: 50%;
	}

.mvp-mega-dropdown .mvp-feat-vid-but,
.mvp-mega-dropdown .mvp-feat-gal-but {
	top: 15px;
	right: 15px;
	width: 30px;
	height: 30px;
	}
		
.mvp-mega-dropdown .mvp-feat-vid-but i {
	font-size: 16px;
	}
		
.mvp-mega-dropdown .mvp-feat-gal-but i {
	font-size: 14px;
	margin: -7px 0 0 -7px;
	}

#mvp-post-content {
	margin-top: 30px;
	width: 100%;
	}

#mvp-content-main {
	color: #222;
	font-size: 1.15rem;
	font-weight: 300;
	line-height: 140%;
	}

#mvp-content-main p {
	display: block;
	font-size: 1.15rem;
	line-height: 160%;
	margin-bottom: 20px;
	}

#mvp-content-main ul {
	list-style: disc outside;
	margin: 10px 0;
	}

#mvp-content-main ol {
	list-style: decimal outside;
	margin: 10px 0;
	}

#mvp-content-main ul li,
#mvp-content-main ol li {
	margin-left: 50px;
	padding: 5px 0px;
	}

.mvp-post-gallery-wrap {
	margin-bottom: 30px;
	overflow: hidden;
	width: 100%;
	}

.mvp-post-gallery-wrap {
	background: #222;
	}

.mvp-post-gallery-top {
	line-height: 0;
	margin-bottom: 10px;
	width: 100%;
	}

#mvp-content-main .mvp-post-gallery-wrap ul {
	list-style: none;
	margin: 0;
	}

#mvp-content-main .mvp-post-gallery-wrap ul li {
	margin-left: 0;
	padding: 0;
	}

ul.mvp-post-gallery-top-list li {
	display: none !important;
	overflow: hidden;
	}

ul.mvp-post-gallery-top-list li img {
	opacity: .9;
	width: 100%;
	}

ul.mvp-post-gallery-top-list li.flex-active-slide {
	display: block !important;
	}

.mvp-post-gallery-top .flex-direction-nav a {
	-webkit-text-shadow: 1px 1px 3px rgba(0,0,0,.5);
	   -moz-text-shadow: 1px 1px 3px rgba(0,0,0,.5);
	    -ms-text-shadow: 1px 1px 3px rgba(0,0,0,.5);
	     -o-text-shadow: 1px 1px 3px rgba(0,0,0,.5);
		text-shadow: 1px 1px 3px rgba(0,0,0,.5);
	color: #fff !important;
	font-family: 'Quicksand', sans-serif;
	font-size: 70px;
	font-weight: 400;
	line-height: 100%;
	margin-top: -35px;
	opacity: 0;
	position: absolute;
		top: 50%;
	z-index: 10;
	}

.mvp-post-gallery-top .flex-direction-nav .flex-prev {
	left: 0;
	margin-left: 10px;
	}

.mvp-post-gallery-top .flex-direction-nav .flex-next {
	right: 0;
	margin-right: 10px;
	}

.mvp-post-gallery-top:hover .flex-direction-nav a {
	opacity: .7;
	}

.mvp-post-gallery-top .flex-direction-nav a:hover {
	opacity: 1;
	}

.mvp-post-gallery-bot {
	margin-bottom: 10px;
	width: 100%;
	height: 80px;
	}

ul.mvp-post-gallery-bot-list {
	float: left;
	overflow: hidden;
	height: 80px;
	}

ul.mvp-post-gallery-bot-list li {
	cursor: pointer;
	float: left;
	margin-left: 10px !important;
	width: 80px;
	}

ul.mvp-post-gallery-bot-list li img {
	opacity: .4;
	}

ul.mvp-post-gallery-bot-list li.flex-active-slide img,
ul.mvp-post-gallery-bot-list li:hover img {
	opacity: 1;
	}

.mvp-post-gallery-bot ul.flex-direction-nav {
	display: none;
	}

.page #mvp-post-content,
.attachment #mvp-post-content {
	margin-top: 0;
	}

.mvp-post-content-out {
	float: right;
	margin-left: -200px;
	width: 100%;
	}

#mvp-post-info-col {
	width: 200px;
	}

#mvp-related-posts,
ul.mvp-related-posts-list,
.mvp-related-text {
	width: 100%;
	}

ul.mvp-related-posts-list li {
	float: left;
	margin-bottom: 30px;
	width: 100%;
	}

#mvp-ad-rel-wrap ul.mvp-related-posts-list li {
	border-top: 1px solid #ddd;
	margin: 10px 0 0;
	padding-top: 10px;
	}

#mvp-ad-rel-wrap ul.mvp-related-posts-list li:first-child {
	border-top: none;
	margin-top: 0;
	padding-top: 0;
	}

.mvp-related-img {
	background: #222;
	line-height: 0;
	margin-bottom: 8px;
	width: 100%;
	}

#mvp-ad-rel-wrap .mvp-related-img {
	display: none;
	}

.mvp-related-img img {
	opacity: .9;
	}

ul.mvp-related-posts-list li:hover .mvp-related-img img {
	opacity: 1;
	}

.mvp-related-text a {
	float: left;
	font-size: .95rem;
	font-weight: 700;
	line-height: 123%;
	width: 100%;
	}

.mvp-post-content-in {
	margin-left: 200px;
	}

#mvp-post-content-mid {
	background: #fff;
	margin-top: -30px;
	padding: 20px 0 0 5%;
	width: 95%;
	}

.page #mvp-post-content-mid,
.attachment #mvp-post-content-mid {
	margin-top: 0;
	padding: 0;
	width: 100%;
	}

.woocommerce #mvp-post-content-mid {
	padding: 0;
	width: 100%;
	}

span.mvp-feat-caption {
	color: #999;
	float: left;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	font-size: .8rem;
	line-height: 120%;
	margin-top: -12px;
	padding-bottom: 10px;
	text-align: right;
	width: 100%;
	}

#mvp-post-head {
	margin-bottom: 20px;
	width: 100%;
	}

h3.mvp-post-cat {
	margin-bottom: 10px;
	width: 100%;
	}

#mvp-post-feat2-text h3.mvp-post-cat {
	margin-bottom: 2px;
	}

span.mvp-post-cat {
	color: #fff;
	display: inline;
	float: left;
	font-size: .7rem;
	font-weight: 500;
	letter-spacing: .05rem;
	line-height: 1;
	padding: 5px 10px;
	text-transform: uppercase;
	}

#mvp-post-feat2-text span.mvp-post-cat {
	font-size: 1rem;
	}

h1.mvp-post-title {
	color: #222;
	display: inline;
	font-size: 2.4rem;
	font-weight: 800;
	line-height: 110%;
	}

.mvp-post-feat2-title {
	margin-left: 10px;
	width: 90%;
	}

.mvp-post-feat2-title-blank {
	display: none;
	}

#mvp-post-feat2-text h1.mvp-post-title {
	background-color: rgba(0,0,0,.8);
	box-decoration-break: clone;
	-webkit-box-shadow: 10px 0 0 rgba(0,0,0,.8), -10px 0 0 rgba(0,0,0,.8);
	   -moz-box-shadow: 10px 0 0 rgba(0,0,0,.8), -10px 0 0 rgba(0,0,0,.8);
	    -ms-box-shadow: 10px 0 0 rgba(0,0,0,.8), -10px 0 0 rgba(0,0,0,.8);
	     -o-box-shadow: 10px 0 0 rgba(0,0,0,.8), -10px 0 0 rgba(0,0,0,.8);
		box-shadow: 10px 0 0 rgba(0,0,0,.8), -10px 0 0 rgba(0,0,0,.8);
	color: #fff;
	display: inline;
	font-size: 3rem;
	line-height: 122%;
	}

span.mvp-post-excerpt {
	color: #888;
	font-family: 'Lato', sans-serif;
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 130%;
	margin-top: 10px;
	width: 100%;
	}

#mvp-post-feat2-text span.mvp-post-excerpt p {
	background-color: rgba(0,0,0,.8);
	box-decoration-break: clone;
	-webkit-box-shadow: 10px 0 0 rgba(0,0,0,.8), -10px 0 0 rgba(0,0,0,.8);
	   -moz-box-shadow: 10px 0 0 rgba(0,0,0,.8), -10px 0 0 rgba(0,0,0,.8);
	    -ms-box-shadow: 10px 0 0 rgba(0,0,0,.8), -10px 0 0 rgba(0,0,0,.8);
	     -o-box-shadow: 10px 0 0 rgba(0,0,0,.8), -10px 0 0 rgba(0,0,0,.8);
		box-shadow: 10px 0 0 rgba(0,0,0,.8), -10px 0 0 rgba(0,0,0,.8);
	color: #fff;
	display: inline-block;
	line-height: 122%;
	}

#mvp-post-info-wrap {
	margin-top: 20px;
	width: 100%;
	}

.page #mvp-post-info-wrap {
	margin-top: 30px;
	}

#mvp-post-info-top,
#mvp-post-info-bot {
	width: 100%;
	}

.mvp-post-info-out {
	margin-left: -60px;
	width: 100%;
	}

.mvp-post-info-in {
	margin-left: 60px;
	}

#mvp-post-info-bot {
	margin-top: 20px;
	}

.page #mvp-post-info-bot {
	margin-top: 0;
	}

#mvp-post-author-img {
	margin-right: 15px;
	width: 45px;
	}

#mvp-post-author-img img {
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	    -ms-border-radius: 50%;
	     -o-border-radius: 50%;
		border-radius: 50%;
	}

#mvp-post-author {
	border-bottom: 1px solid #ddd;
	color: #555;
	font-family: 'Work Sans', sans-serif;
	font-size: .9rem;
	font-weight: 400;
	margin-bottom: 5px;
	padding-bottom: 5px;
	width: 100%;	
	}

#mvp-post-author span,
#mvp-post-author p {
	float: left;
	}

#mvp-post-author p {
	margin-right: 5px;
	}

span.mvp-author-twit {
	font-size: 17px;
	line-height: 100%;
	margin-left: 10px;
	}

span.mvp-author-email {
	font-size: 13px;
	line-height: 100%;
	margin: 2px 0 0 10px;
	}

span.mvp-author-twit a,
span.mvp-author-email a {
	color: #ccc;
	}

#mvp-post-date {
	color: #aaa;
	font-family: 'Work Sans', sans-serif;
	font-size: .8rem;
	font-weight: 400;
	}

ul.mvp-post-soc-list {
	width: 100%;
	}

ul.mvp-post-soc-list li {
	border-radius: 4px;
	float: left;
	line-height: 0;
	margin-left: 5px;
	opacity: 1;
	padding: 7px 20px;
	}

ul.mvp-post-soc-list a:first-child li {
	margin-left: 0;
	text-align: center;
	}

ul.mvp-post-soc-list li:hover {
	opacity: .85;
	}

.mvp-post-soc-fb {
	background: #3e64ad;
	color: #fff;
	}

.mvp-post-soc-twit {
	background: #58ccff;
	color: #fff;
	}

.mvp-post-soc-what {
	background: #6cd94e;
	color: #fff;
	display: none;
	}

.mvp-post-soc-pin {
	background: #de010d;
	color: #fff;
	}

.mvp-post-soc-email {
	background: #aaa;
	color: #fff;
	}

ul.mvp-post-soc-list li.mvp-post-soc-comm {
	float: right;
	color: #222;
	padding: 7px 0;
	}

ul.mvp-post-soc-list li i {
	display: inline-block;
	font-size: 16px;
	line-height: 1;
	}

span.mvp-post-soc-text {
	display: inline-block;
	font-family: 'Work Sans', sans-serif;
	font-size: 12px;
	font-weight: 500;
	line-height: 1;
	margin: 2px 0 0 10px;
	text-transform: uppercase;
	vertical-align: top;
	}

#mvp-content-main {
	float: left;
	overflow: hidden;
	position: relative;
	width: 100%;
	}

#mvp-ad-rel-wrap {
	float: left;
	margin-bottom: 30px;
	position: relative;
	width: 100%;
	}

#mvp-ad-rel-top,
#mvp-ad-rel-bot {
	width: 100%;
	}

#mvp-ad-rel-bot {
	background: #fff;
	}

#mvp-ad-rel-top {
	display: none;
	background-image: linear-gradient(to bottom,rgba(255,255,255,0) 0, rgba(255,255,255,0.9) 50%, rgba(255,255,255,1) 100%);
	padding: 60px 0 40px;
	text-align: center;
	}

span.mvp-ad-rel-but {
	border-radius: 8px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: 'Work Sans', sans-serif;
	font-size: .9rem;
	line-height: 1;
	padding: 10px 30px;
	text-transform: uppercase;
	}

.mvp-ad-rel-out {
	margin-left: -330px;
	width: 100%;
	}

.mvp-ad-rel-in {
	margin-left: 330px;
	}

span.mvp-related-head {
	font-family: 'Work Sans', sans-serif;
	font-size: 1.4rem;
	font-weight: 700;
	line-height: 123%;
	margin-bottom: 15px;
	width: 100%;
	}

#mvp-post-bot-ad {
	margin-right: 30px;
	text-align: center;
	width: 300px;
	height: 250px;
	}

#mvp-post-bot-rel {
	width: 100%;
	}

#mvp-content-main h1,
#mvp-content-main h2,
#mvp-content-main h3,
#mvp-content-main h4,
#mvp-content-main h5,
#mvp-content-main h6 {
	font-weight: 700;
	line-height: 120%;
	margin: 10px 0;
	overflow: hidden;
	width: 100%;
	}

#mvp-content-main h1 {
	font-size: 2rem;
	}

#mvp-content-main h2 {
	font-size: 1.8rem;
	}

#mvp-content-main h3 {
	font-size: 1.6rem;
	}

#mvp-content-main h4 {
	font-size: 1.4rem;
	}

#mvp-content-main h5 {
	font-size: 1.2rem;
	}

#mvp-content-main h6 {
	font-size: 1rem;
	}

#mvp-content-main blockquote p {
	color: #555;
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 130%;
	margin: 30px 10%;
	width: 80%;
	}

#mvp-content-main blockquote p cite {
	color: #555;
	display: inline-block;
	font-size: .7rem;
	font-weight: 400;
	}

#mvp-content-main dt {
	font-weight: bold;
	}

#mvp-content-main dd {
	margin-left: 20px;
	}

#mvp-content-main abbr,
#content-main acronym {
	font-weight: bold;
	text-transform: uppercase;
	}

#mvp-content-main code {
	font-size: 1.1rem;
	}

#mvp-content-main sub {
	font-size: smaller;
	vertical-align: sub;
	}

#mvp-content-main sup {
	font-size: smaller;
	vertical-align: super;
	}

#mvp-content-main table {
	font-size: .9rem;
	width: 100%;
	}

#mvp-content-main td,
#mvp-content-main th {
	padding: 0 1.5%;
	}

#mvp-content-main tr.odd {
	background: #eee;
	}

.mvp-post-tags {
	float: left;
	font-family: 'Work Sans', sans-serif;
	font-size: .8rem;
	font-weight: 400;
	line-height: 120%;
	margin-top: 10px;
	text-transform: uppercase;
	width: 100%;
	}

.mvp-post-tags-header {
	color: #555;
	font-weight: 800;
	margin-right: 5px;
	}

.wp-caption,
#mvp-content-main p.wp-caption-text,
.gallery-caption {
	color: #777;
	font-family: 'Lato', sans-serif;
	font-size: .8rem;
	margin-top: 5px;
	margin-bottom: 30px;
	max-width: 100%;
	text-align: left;
	}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
	}

.sticky {
	}

.bypostauthor {
	}

.posts-nav-link {
	display: none;
	}

#mvp-author-box-wrap {
	margin-top: 30px;
	width: 100%;
	}

.mvp-author-box-out {
	margin-left: -140px;
	width: 100%;
	}

.mvp-author-box-in {
	margin-left: 140px;
	}

#mvp-author-box-img {
	line-height: 0;
	margin-right: 40px;
	width: 100px;
	}

#mvp-author-box-img img {
	border: 5px solid #f9f9f9;
	border-radius: 50%;
	}

#mvp-author-box-text {
	width: 100%;
	}

span.mvp-author-box-name {
	font-family: 'Work Sans', sans-serif;
	font-size: 1.1rem;
	line-height: 1;
	margin-bottom: 5px;
	width: 100%;
	}

span.mvp-author-box-name a {
	color: #444;
	font-weight: 700;
	}

#mvp-author-box-text p {
	color: #444;
	float: left;
	font-family: 'Lato', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 140%;
	width: 100%;
	}

#mvp-author-box-soc-wrap {
	margin-top: 15px;
	width: 100%;
	}

span.mvp-author-box-soc {
	color: #bbb;
	display: inline-block;
	font-size: 20px;
	line-height: 1;
	margin-right: 10px;
	vertical-align: top;
	}

.mvp-org-wrap {
	display: none;
	}

#mvp-post-bot-wrap {
	margin-top: 60px;
	width: 100%;
	}

h4.mvp-post-bot-head {
	font-size: 2.2rem;
	font-weight: 700;
	line-height: 1;
	margin-bottom: 20px;
	width: 100%;
	}

#mvp-prev-post-wrap,
#mvp-next-post-wrap {
	background: #f9f9f9;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin-top: -40px;
	position: fixed;
		top: 50%;
	width: 35px;
	height: 63px;
	z-index: 4000;
	}

#mvp-prev-post-wrap {
	border-right: 1px solid #ccc;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	left: 0;
	}

#mvp-next-post-wrap {
	border-left: 1px solid #ccc;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	right: 0;
	text-align: right;
	}

#mvp-prev-post-arrow,
#mvp-next-post-arrow {
	color: #aaa;
	cursor: pointer;
	font-size: 50px;
	line-height: 100%;
	padding-top: 4px;
	}

#mvp-prev-post-arrow {
	padding-left: 5px;
	}

#mvp-next-post-arrow {
	padding-right: 5px;
	}

.mvp-prev-next-text {
	position: absolute;
		top: -1px;
	-webkit-transition: all .25s;
		transition: all .25s;
	}

.mvp-prev-next-text a,
.mvp-prev-next-text a:visited,
.mvp-prev-next-text a:hover {
	color: #fff !important;
	float: left;
	font-size: .95rem;
	font-weight: 700;
	line-height: 130%;
	padding: 15px;
	width: 280px;
	}

#mvp-prev-post-wrap .mvp-prev-next-text {
	left: -9999px;
	}

#mvp-prev-post-wrap:hover .mvp-prev-next-text {
	left: 0;
	}

#mvp-next-post-wrap .mvp-prev-next-text {
	right: -9999px;
	text-align: left;
	}

#mvp-next-post-wrap:hover .mvp-prev-next-text {
	right: 0;
	}

/************************************************
	11. Comments
************************************************/

#mvp-comments-button {
	margin-top: 60px;
	text-align: center;
	width: 100%;
	}

#mvp-comments-button a,
#mvp-comments-button span.mvp-comment-but-text {
	color: #fff !important;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	    -ms-border-radius: 5px;
	     -o-border-radius: 5px;
		border-radius: 5px;
	cursor: pointer;
	display: inline-block;
	font-family: 'Work Sans', sans-serif;
	font-size: .8rem;
	font-weight: 600;
	line-height: 100%;
	padding: 15px 0;
	text-transform: uppercase;
	width: 60%;
	}

#mvp-comments-button a:hover,
#mvp-comments-button span.mvp-comment-but-text:hover {
	color: #fff !important;
	}

h4.mvp-post-header {
	float: left;
	margin-bottom: 30px;
	position: relative;
	width: 100%;
	}

span.mvp-post-header {
	float: left;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1;
	padding-top: 10px;
	}

h3.comment-header {
	color: #fff;
	float: left;
	font: 400 12px/12px 'Oswald', sans-serif;
	position: relative;
	text-transform: uppercase;
	}

#comments {
	display: none;
	float: left;
	font-size: .8rem;
	line-height: 120%;
	margin-top: 60px;
	overflow: hidden;
	width: 100%;
	}

.woocommerce #comments {
	display: block;
	margin-top: 0;
	}

#disqus_thread {
	display: none;
	float: left;
	margin-top: 30px;
	width: 100%;
	}

.comment-inner {
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
	padding: 10px 0 0;
	}

#comments .comment-inner:after {
	content: '';
	display: block;
	clear: both;
	}

#comments .comment-avatar,
#tab3 .comment-avatar {
	float: left;
	width: 46px;
	}
	
#comments .avatar {
	display: block;
	background-color: #fff;
	}

.comment-avatar img {
	-webkit-border-radius: 23px;
	   -moz-border-radius: 23px;
	    -ms-border-radius: 23px;
	     -o-border-radius: 23px;
		border-radius: 23px;
	overflow: hidden;
	}

#comments .commentmeta {
	display: block;
	float: left;
	margin: 0 10px 10px;
	width: 75%;
	}

.comment-reply a,
#cancel-comment-reply-link {
	clear: both;
	color: #fff !important;
	font: 700 10px/100% 'Lato', sans-serif;
	padding: 5px 10px;
	text-transform: uppercase;
	}

.comment-reply a {
	background: #888;
	float: right;
	}

#cancel-comment-reply-link {
	background: #999;
	float: left;
	margin: 0 0 10px 20px;
	}

.comment-reply a:hover,
#cancel-comment-reply-link:hover {
	background: #555;
	color: #fff;
	text-decoration: none;
	}

#content-main ol.commentlist {
	float: left;
	list-style: none;
	margin: 0;
	width: 100%;
	}

#content-main ol.commentlist li {
	margin: 0;
	padding: 0;
	}

ol.commentlist h3.comment-header {
	display: none;
	}

ol.commentlist #respond {
	border-top: none;
	}

#comments .comment-meta-1 {
	display: block;
	float: left;
	font: bold 14px/normal helvetica, arial, sans-serif;
	margin-bottom: 5px;
	width: 100%;
	}
		
#comments .comment-meta-1 .fn {
	float: left;
	font-style: normal;
	font-weight: bold;
	width: auto;
	}
		
#comments .comment-meta-1 .reply {
	display: inline-block;
	float: right;
	font-size: 11px;
	line-height: 11px;
	padding-top: 2px;
	}
		
#comments .comment-meta-1 .reply a {
	color: #555;
	}
		
#comments .comment-meta-2  {
	display: block;
	float: left;
	font-size: .75rem;
	line-height: 100%;
	margin: 0;
	}

#comments .text {
	clear: both;
	display: block;
	float: left;
	margin-top: 10px;
	}

#comments .text .waiting_approval {
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
	}

#comments .c {
	line-height: 20px;
	}

#comments .c p,
#comments .c code,
#comments .c blockquote,
#comments .c ul,
#comments .c ol {
	display: block;
	margin: 5px 0;
	}

#comments .c p {
	color: #444;
	font-family: 'Merriweather', serif;
	font-size: .9rem;
	font-weight: 300;
	line-height: 160%;
	}

#comments .c a {
	text-decoration: underline;
	}

#comments .c a:hover {
	text-decoration: none;
	}
	
#comments .depth-2 .comment-wrapper {
	padding-left: 40px;
	}

#comments .depth-2 .commentmeta {
	width: 75%;
	}
	
#comments .depth-3 .comment-wrapper {
	padding-left: 80px;
	}

#comments .depth-3 .commentmeta {
	width: 75%;
	}
	
#comments .depth-4 .comment-wrapper {
	padding-left: 120px;
	}

#comments .depth-4 .commentmeta {
	width: 75%;
	}

#comments .depth-5 .comment-wrapper {
	padding-left: 160px;
	}

#comments .depth-5 .commentmeta {
	width: 75%;
	}

#respond {
	clear: both;
	position: relative;
	}

#respond form {
	float: left;
	padding-bottom: 20px;
	width: 100%;
	}

#respond p {
	font: 12px/normal helvetica, arial, sans-serif;
	margin: 0;
	}

#respond .logged-in-as {
	margin-bottom: 10px;
	}

#respond .comment-notes {
	margin-bottom: 1rem;
	}

.children #respond {
	margin: 0 48px 0 0;
	}

#mvp-comments-list #respond {
	margin: 0 0 18px 0;
	}

#mvp-comments-list ul #respond {
	margin: 0;
	}

#respond .required {
	color: #ff4b33;
	font-weight: bold;
	}

#respond label {
	color: #888;
	font-size: 12px;
	}
	
#respond input {
	background: #f6f6f6;
	border: 1px solid #ddd;
	-webkit-box-shadow: 2px 2px 5px 0px #eee inset;
	   -moz-box-shadow: 2px 2px 5px 0px #eee inset;
	    -ms-box-shadow: 2px 2px 5px 0px #eee inset;
	     -o-box-shadow: 2px 2px 5px 0px #eee inset;
		box-shadow: 2px 2px 5px 0px #eee inset;
	display:block;
	margin: 0 0 9px;
	padding:5px;
	width: auto;
	}

#respond textarea {
	background: #f6f6f6;
	border: 1px solid #ddd;
	-webkit-box-shadow: 2px 2px 5px 0px #eee inset;
	   -moz-box-shadow: 2px 2px 5px 0px #eee inset;
	    -ms-box-shadow: 2px 2px 5px 0px #eee inset;
	     -o-box-shadow: 2px 2px 5px 0px #eee inset;
		box-shadow: 2px 2px 5px 0px #eee inset;
	width: 99%;
	}
	
#respond #submit {
	background: #555;
	border: 0;
	box-shadow: none;
	color: #fff;
	cursor:pointer;
	font: 700 12px/100% 'Open Sans', sans-serif;
	margin-top:10px;
	padding: 5px 10px;
	width: 120px;
	}

#respond #submit:hover {
	background: #333;
	}

h3#reply-title,
h2.comments {
	color: #fff;
	font: 700 14px/100% 'Oswald', sans-serif;
	margin-bottom: 10px;
	padding: 5px 10px;
	text-shadow: 1px 1px 0 #000;
	text-transform: uppercase;
	}

h3#reply-title {
	display: none;
	}

span.comments {
	background: #fff;
	color: #aaa;
	float: left;
	font-size: 20px;
	line-height: 100%;
	padding-right: 15px;
	text-transform: uppercase;
	}

span.comments a {
	color: #666;
	}

span.comments a:hover {
	color: #f00;
	text-decoration: none;
	}

#comment-input label {
	margin-bottom: 10px;
	}

p.cancel-comment-reply {
	clear: both;
	}

p.form-allowed-tags {
	display: none !important;
	}

.fb-comments,
.fb-comments span {
	width: 100% !important;
	}

/************************************************
	12. Archives
************************************************/

h1.mvp-arch-head,
h4.mvp-arch-head {
	color: #222;
	display: inline-block;
	font-size: 2.2rem;
	font-weight: 800;
	line-height: 1;
	margin-bottom: 20px;
	text-align: center;
	}

h1.mvp-arch-head {
	width: 100%;
	}

.author h4.mvp-arch-head {
	color: #222;
	font-size: 1.2rem;
	font-weight: 700;
	text-align: left;
	}

.mvp-head-icon {
	color: #222;
	display: inline-block;
	font-size: 20px;
	margin-left: 10px;
	}

#mvp-author-page-top {
	background: #444;
	margin: -30px 0 30px;
	padding: 60px 5%;
	width: 90%;
	}

.mvp-author-top-out {
	margin-left: -250px;
	width: 100%;
	}

.mvp-author-top-in {
	margin-left: 250px;
	}

#mvp-author-top-left {
	margin-right: 50px;
	width: 200px;
	}

#mvp-author-top-left img {
	border: 8px solid #555;
	-webkit-border-radius: 50%;
		border-radius: 50%;
	line-height: 0;
	margin-top: -8px;
	}

#mvp-author-top-right {
	width: 100%;
	}

h1.mvp-author-top-head {
	color: #fff;
	font-size: 3.3rem;
	font-weight: 700;
	line-height: 1;
	margin-bottom: 15px;
	width: 100%;
	}

span.mvp-author-page-desc {
	color: #bbb;
	font-family: 'Lato', sans-serif;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 150%;
	width: 100%;
	}

ul.mvp-author-page-list {
	margin-top: 20px;
	width: 100%;
	}

ul.mvp-author-page-list li {
	background: #555;
	-webkit-border-radius: 50%;
		border-radius: 50%;
	color: #fff;
	display: inline-block;
	font-size: 18px;
	line-height: 1;
	margin-left: 10px;
	padding-top: 11px;
	text-align: center;
	width: 40px;
	height: 29px;
	}

ul.mvp-author-page-list a:first-child li {
	margin-left: 0;
	}

ul.mvp-author-page-list li:hover {
	background: #444;
	border: 2px solid #555;
	padding-top: 9px;
	width: 36px;
	height: 27px;
	}

.mvp-authors-list-wrap {
	border-bottom: 1px solid #ddd;
	padding: 30px 0;
	width: 100%;
	}

.mvp-authors-list-wrap:last-child {
	border-bottom: none;
	padding-bottom: 0;
	}

.mvp-authors-list-left {
	margin-right: 3.0518819939%; /* 30 / 983 */
	width: 48.4435401831%; /* 476.2 / 983 */
	}

.mvp-authors-list-out {
	float: right;
	margin-left: -180px;
	width: 100%;
	}

.mvp-authors-list-in {
	margin-left: 180px;
	}

.mvp-authors-list-img {
	line-height: 0;
	margin-right: 30px;
	width: 150px;
	}

.mvp-authors-list-img img {
	-webkit-border-radius: 50%;
		border-radius: 50%;
	}

.mvp-authors-list-text {
	width: 100%;
	}

h3.mvp-authors-list-head a {
	color: #222;
	float: left;
	font-size: 1.4rem;
	font-weight: 700;
	line-height: 123%;
	margin-bottom: 15px;
	width: 100%;
	}

.mvp-authors-list-text p {
	color: #444;
	font-family: 'Lato', sans-serif;
	font-size: 1.1rem;
	font-weight: 400;
	line-height: 140%;
	}

.mvp-authors-list-right {
	width: 48.4435401831%; /* 476.2 / 983 */
	}

span.mvp-authors-list-post-head {
	color: #222;
	font-size: .9rem;
	font-weight: 700;
	line-height: 1;
	margin-bottom: 15px;
	width: 100%;
	}

.mvp-authors-list-posts {
	border-bottom: 1px solid #ddd;
	margin-bottom: 8px;
	padding-bottom: 8px;
	width: 100%;
	}

.mvp-authors-list-posts:last-child {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
	}

.mvp-authors-list-posts a {
	font-size: .8rem;
	font-weight: 400;
	line-height: 123%;
	}

#mvp-404 {
	margin: 150px 0 200px;
	text-align: center;
	width: 100%;
	}

#mvp-404 h1 {
	color: #222;
	font-size: 4rem;
	font-weight: 900;
	line-height: 100%;
	margin-bottom: 20px;
	}

#mvp-404 p {
	color: #999;
	font-family: 'Work Sans', sans-serif;
	font-size: 1rem;
	line-height: 130%;
	}

#bbpress-forums,
#bbpress-forums p {
	font-family: helvetica, arial, sans-serif;
	}

#bbpress-forums ol,
#bbpress-forums ul {
	list-style: none;
	margin: 0;
	}

#bbpress-forums ul li,
#bbpress-forums ol li {
	margin-left: 0;
	padding: 0;
	}

div.bbp-breadcrumb,
div.bbp-topic-tags,
div.bbp-breadcrumb a,
div.bbp-breadcrumb span {
	font-size: .75rem;
	}

#subscription-toggle {
	float: left;
	margin: 5px 0 15px;
	width: 100%;
	}

.rwp-review-wrap {
	border-bottom: 1px solid #ddd;
	padding-bottom: 30px;
	}

.rwp-summary,
.rwp-u-review__comment {
	font-size: 1rem;
	font-weight: 300;
	line-height: 160%;
	}

/************************************************
	13. WooCommerce
************************************************/

#woo-content {
	float: left;
	position: relative;
	width: 100%;
	}

#woo-content h1.page-title {
	color: #222;
	font-size: 2.9rem;
	font-weight: 700;
	line-height: 100%;
	margin-bottom: 30px;
	text-align: center;
	width: 100%;
	}

#woo-content p {
	color: #222;
	display: block;
	font-size: .95rem;
	font-weight: 400;
	line-height: 155%;
	margin-bottom: 20px;
	}

#woo-content .summary p {
	color: #555;
	}

#woo-content .summary p.price {
	color: #222;
	}

.woocommerce div.product .woocommerce-product-rating {
	margin-bottom: 15px;
	}

.woocommerce div.product form.cart {
	margin-top: 15px;
	}

.woocommerce .woocommerce-breadcrumb {
	border-bottom: 1px solid #ddd;
	font-size: .75rem;
	line-height: 100%;
	margin-bottom: 20px;
	padding-bottom: 20px;
	}

.woocommerce div.product .product_title {
	font-size: 1.7rem;
	font-weight: 700;
	line-height: 130%;
	margin-bottom: 15px;
	}

.woocommerce div.product p.price {
	margin-bottom: 15px;
	}

.woocommerce div.product p.price del,
.woocommerce div.product span.price del,
.woocommerce ul.products li.product .price del {
	display: inline-block;
	margin-right: 10px;
	}

.woocommerce div.product p.price ins,
.woocommerce div.product span.price ins,
.woocommerce ul.products li.product .price ins,
.woocommerce ul.products li.product .price,
.woocommerce div.product p.price {
	color: #222;
	text-decoration: none;
	}

.woocommerce div.product p.price,
.woocommerce div.product p.price ins,
.woocommerce div.product p.price del {
	font-size: 1.2rem;
	font-family: 'Lato', sans-serif;
	}

.woocommerce ul.products li.product .price del,
.woocommerce ul.products li.product .price ins,
.woocommerce ul.products li.product .price {
	font-size: .9rem;
	font-family: 'Lato', sans-serif;
	}

.woocommerce ul.products li.product .price,
.woocommerce div.product p.price {
	font-weight: 700;
	}

.woocommerce div.product {
	overflow: hidden;
	}

.woocommerce .quantity .qty {
	height: 23px;
	}

.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
	opacity: .8;
	}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce .widget_price_filter .price_slider_amount .button {
	font-family: 'Lato', sans-serif;
	font-size: .7rem;
	font-weight: 700;
	line-height: 100%;
	padding: 9px 25px;
	text-transform: uppercase;
	}

.woocommerce div.product form.cart div.quantity {
	margin-right: 10px;
	}

.woocommerce .product_meta {
	font-size: .8rem;
	}

.woocommerce span.onsale {
	border-radius: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	line-height: 100%;
	padding: 30px 35px 8px;
	-webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	     -o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	top: -10px;
	left: -35px;
	min-width: 0;
	min-height: 0;
	}

.woocommerce ul.products li.product .onsale {
	top: -5px;
	left: -35px;
	right: auto;
	}

.woocommerce ul.products li.product h3 {
	font-size: 1.1rem;
	font-weight: 400;
	line-height: 120%;
	}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
	overflow: hidden;
	}

.woocommerce ul.products li.product .add_to_cart_button {
	display: none;
	}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content,
.woocommerce-page .widget_price_filter .price_slider_wrapper .ui-widget-content {
	float: left;
	margin: 10px 0 20px;
	width: 100%;
	}

.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img {
	margin-left: 10px;
	width: 60px;
	}

.woocommerce ul.product_list_widget span.product-title,
.woocommerce ul.product_list_widget li a {
	color: #222;
	font-size: .9rem;
	margin-bottom: 5px;
	}

.woocommerce ul.product_list_widget li a.remove {
	font-size: 1.5rem;
	}

.woocommerce ul.product_list_widget span.quantity,
.woocommerce ul.product_list_widget span.amount {
	font-size: .8rem;
	text-decoration: none !important;
	}

.woocommerce ul.product_list_widget del {
	margin-right: 5px;
	}

.woocommerce .widget_shopping_cart .total,
.woocommerce.widget_shopping_cart .total {
	border-top: 1px solid #ddd;
	font-size: .9em;
	line-height: 100%;
	margin-top: 10px;
	padding: 10px 0;
	text-align: center;
	}

.woocommerce .sidebar-widget a {
	color: #222;
	}

.woocommerce .sidebar-widget p.buttons a,
.woocommerce .sidebar-widget p.buttons a:hover {
	color: #222;
	}

.widget_shopping_cart_content {
	float: left;
	}

.woocommerce .sidebar-widget select,
.mvp-side-widget select {
	width: 100%;
	}

.woocommerce #woo-content select,
.woocommerce #mvp-side-wrap select,
.woocommerce #woo-content div.product form.cart .variations select,
.woocommerce-page #woo-content div.product form.cart .variations select,
.woocommerce #woo-content div.product form.cart .variations select,
.woocommerce-page #woo-content div.product form.cart .variations select,
.woocommerce #woo-content .woocommerce-ordering select,
.woocommerce-page #woo-content .woocommerce-ordering select,
.woocommerce #woo-content form .form-row select,
.woocommerce-page #woo-content form .form-row select,
.widget_product_categories select#dropdown_product_cat,.mvp-side-widget select {
	padding: 5px;
	background: #fff;
	border: 1px solid #ddd;
	color: #888;
	font-size: 12px;
	text-transform: uppercase;
	}

.woocommerce #mvp-side-wrap select,
.mvp-side-widget select {
	padding: 5px 2%;
	width: 95.6%;
	}

.woocommerce .related h2,
.woocommerce div.product .woocommerce-tabs .panel h2 {
	color: #222;
	font-size: 1.1rem;
	font-weight: 700;
	line-height: 100%;
	margin-bottom: 15px;
	position: relative;
	}

.woocommerce .related h2 {
	margin-bottom: 30px;
	}

.woocommerce-review-link {
	font-family: 'Lato', sans-serif;
	font-size: .75rem;
	font-weight: 400;
	}

.woocommerce .star-rating {
	margin-bottom: 5px;
	}

.woocommerce .widget_top_rated_products ul.product_list_widget li {
	border-top: 1px solid #ddd;
	margin: 15px 0 0 0;
	padding: 15px 0 0 0;
	}

.woocommerce .widget_top_rated_products ul.product_list_widget li:first-child {
	border-top: none;
	margin: 0;
	padding: 0;
	}

#woo-content p.woocommerce-result-count {
	font-family: 'Lato', sans-serif;
	font-size: .8rem;
	font-weight: 400;
	}

.woocommerce div.product .woocommerce-tabs ul.tabs li,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	box-shadow: none;
	}

.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:after,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active:after,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active:after,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:before,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active:before,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active:before,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active:before {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-width: 0;
	box-shadow: none;
	}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	font-family: 'Lato', sans-serif;
	font-size: .8rem;
	font-weight: 400;
	}

.woocommerce #content div.product .woocommerce-tabs,
.woocommerce div.product .woocommerce-tabs,
.woocommerce-page #content div.product .woocommerce-tabs,
.woocommerce-page div.product .woocommerce-tabs {
	border-bottom: 1px solid #ddd;
	margin-bottom: 30px;
	}

.woocommerce #reviews #comments ol.commentlist li img.avatar {
	background: none;
	border: none;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	    -ms-border-radius: 50%;
	     -o-border-radius: 50%;
		border-radius: 50%;
	overflow: hidden;
	}

.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta {
	font-size: .8rem;
	font-weight: 400;
	}

.woocommerce div.product .woocommerce-tabs .panel {
	margin-bottom: 30px;
	}

.pswp {
	z-index: 99999 !important;
	}

/************************************************
	14. Footer
************************************************/

#mvp-foot-ad-wrap {
	background: #eee;
	line-height: 0;
	margin: 60px 0 -30px;
	text-align: center;
	width: 100%;
	}

#mvp-foot-wrap {
	background: #222;
	width: 100%;
	}

#mvp-foot-top-wrap,
#mvp-foot-bot-wrap,
.mvp-foot-in-wrap {
	width: 100%;
	}

.mvp-foot-in-wrap {
	padding: 40px 0;
	}

ul.mvp-foot-soc-list {
	text-align: center;
	width: 100%;
	}

ul.mvp-foot-soc-list li {
	display: inline-block;
	}

ul.mvp-foot-soc-list li a {
	background: #393939;
	-webkit-border-radius: 50%;
		border-radius: 50%;
	color: #fff !important;
	display: inline-block;
	font-size: 18px;
	line-height: 1;
	margin-left: 10px;
	padding-top: 11px;
	text-align: center;
	width: 40px;
	height: 29px;
	}

ul.mvp-foot-soc-list li:first-child a {
	margin-left: 0;
	}

ul.mvp-foot-soc-list li a:hover {
	background: #222;
	border: 2px solid #393939;
	padding-top: 9px;
	width: 36px;
	height: 27px;
	}

#mvp-foot-nav {
	margin-top: 30px;
	width: 100%;
	}

#mvp-foot-nav ul {
	text-align: center;
	width: 100%;
	}


#mvp-foot-nav ul li {
	display: inline-block;
	margin-left: 15px;
	}

#mvp-foot-nav ul li a {
	color: #999;
	font-size: .8rem;
	font-weight: 500;
	line-height: 1;
	text-transform: uppercase;
	}

#mvp-foot-nav ul li a:hover {
	color: #fff;
	}

#mvp-foot-nav ul li:first-child {
	margin-left: 0;
	}

#mvp-foot-nav ul li ul {
	display: none;
	}

#mvp-foot-bot-wrap {
	background: #111;
	}

#mvp-foot-copy {
	text-align: center;
	width: 100%;
	}

#mvp-foot-copy p {
	color: #999;
	font-family: 'Work Sans', sans-serif;
	font-size: .9rem;
	font-weight: 500;
	line-height: 130%;
	width: 100%;
	}

/************************************************
	15. Pagination
************************************************/

.mvp-nav-links {
	float: left;
	margin-top: 20px;
	position: relative;
	width: 100%;
	}

.pagination {
	clear: both;
	display: inline-block;
	position: relative;
	font-size: .8rem;
	font-weight: 700;
	line-height: 100%;
	padding: 0;
	text-transform: uppercase;
	}
 
.pagination span, .pagination a {
	background: #fff;
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	    -ms-border-radius: 5px;
	     -o-border-radius: 5px;
		border-radius: 5px;
	color: #aaa;
	display: block;
	float: left;
	font-family: 'Montserrat', sans-serif;
	font-size: .8rem;
	font-weight: 400;
	margin: 2px 5px 2px 0;
	padding: 9px 12px 8px;
	text-decoration: none;
	width: auto;
	}
 
.pagination .current,
.pagination a:hover {
	background: #aaa;
	color: #fff;
	}

.pagination a,
.pagination a:visited {
	color: #aaa;
	}

a.mvp-inf-more-but {
	background: #eee;
	color: #aaa!important;
	-webkit-border-bottom-left-radius: 10px;
	   -moz-border-bottom-left-radius: 10px;
	    -ms-border-bottom-left-radius: 10px;
	     -o-border-bottom-left-radius: 10px;
		border-bottom-left-radius: 20px;
	-webkit-border-bottom-right-radius: 10px;
	   -moz-border-bottom-right-radius: 10px;
	    -ms-border-bottom-right-radius: 10px;
	     -o-border-bottom-right-radius: 10px;
		border-bottom-right-radius: 20px;
	display: inline-block;
	font-family: 'Work Sans', sans-serif;
	font-size: .9rem;
	font-weight: 700;
	margin-bottom: 20px;
	padding: 15px 0;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	}

a.mvp-inf-more-but:hover {
	color: #fff !important;
	}

#infscr-loading {
	background: #eee;
	color: #aaa;
	float: left;
	font-family: 'Lato', sans-serif;
	font-size: .9rem;
	font-style: italic;
	font-weight: 400;
	line-height: 100%;
	padding: 15px 0;
	text-align: center;
	width: 100%;
	}

#infscr-loading img {
	display: none;
	}

#infscr-loading em {
	float: left;
	width: 100%;
	}

.paginate-links {
	display: none;
	}