<?php
/**
 * Created by PhpStorm.
 * User: Mehmet HAKKIOĞLU
 * Mail: contact@mehmethakkioglu.com
 * Date: 19.11.2018
 * Time: 06:58
 */
$this->headLink()
    ->prependStylesheet($this->basePath('dashboard/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css'));

$this->inlineScript()
    ->prependFile($this->basePath('dashboard/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js'))
    ->prependFile($this->basePath('dashboard/bower_components/datatables.net/js/jquery.dataTables.min.js'));
?>
<script>
    $(document).ready(function () {
        var dataList = $('#dataList').DataTable({
            ajax : '<?=$this->url('panel/page/xhr');?>',
            "columnDefs": [{
                "targets": -1,
                "data": null,
                "defaultContent": '<div class="btn-group btn-group-justified"><a class="btn btn-xs btn-warning" data-type="edit"><i class="fa fa-edit"></i> Düzenle</a><a class="btn btn-xs btn-danger" data-type="remove" data-cache="false" data-toggle="modal" data-target="#remove"><i class="fa fa-trash-o"></i> Sil</a></div>'
            }]
        });

        var dataID;
        $('#dataList tbody').on('click', 'a', function () {
            var data = dataList.row($(this).parents('tr')).data();

            if($(this).data('type') == 'edit')
            {
                window.location.href = '<?=$this->url('panel/page');?>edit/' + data[5];
            }

            if($(this).data('type') == 'remove')
            {
                dataID = data[5];
                $('[data-type="blogTitle"]').html('<b>' + data[1] + '</b>');
            }
        });

        $('[data-type="removeData"]').on('click', function () {
            window.location.href = '<?=$this->url('panel/page');?>remove/' + dataID;
        });

        <?php if(isset($_SESSION['message'])):?>
        new PNotify({
            title: "<?=$_SESSION['message']['title'];?>",
            text: "<?=$_SESSION['message']['text'];?>",
            addclass: "alert alert-<?=$_SESSION['message']['code'] == 200 ? 'success' : 'danger';?>"
        });
        <?php unset($_SESSION['message']);?>
        <?php endif;?>
    });
</script>
<div class="box">
    <div class="box-header">
        <h3 class="box-title"><?=$title;?></h3>
    </div>
    <div class="box-body">
        <table id="dataList" class="table table-bordered table-hover">
            <thead>
            <tr>
                <th class="col-xs-1">#</th>
                <th class="col-xs-3">Başlık</th>
                <th class="col-xs-2">Kategori</th>
                <th class="col-xs-3">Tarih</th>
                <th class="col-xs-1">Durum</th>
                <th class="col-xs-2">İşlemler</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="box-footer">
        <div class="btn-group">
            <a href="<?=$this->url('panel/page/create');?>" class="btn btn-primary"><i class="fa fa-plus"></i>  Sayfa Ekle</a>
        </div>
    </div>
</div>



<div class="modal fade" id="remove" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Veri Sil</h5>
            </div>
            <div class="modal-body">
                "<span data-type="blogTitle"></span>" isimli veriyi silmek istediğinize emin misiniz?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i>    Kapat</button>
                <button type="button" class="btn btn-danger" data-type="removeData" data-cache="false"><i class="fa fa-trash-o"></i>  Sil</button>
            </div>
        </div>
    </div>
</div>