<?php
/**
 * Created by PhpStorm.
 * User: Mehmet HAKKIOĞLU
 * Mail: contact@mehmethakkioglu.com
 * Date: 19.11.2018
 * Time: 06:59
 */
?>
<?php
$this->headLink()
    ->prependStylesheet($this->basePath('css/font-awesome/css/font-awesome.css'))
    ->prependStylesheet($this->basePath('css/style.css'))
    ->prependStylesheet($this->basePath('css/reset.css'))
    ->prependStylesheet($this->basePath('css/media-queries.css'));

$this->headScript()
    ->prependFile($this->basePath('js/jquery.min.js'));

$this->inlineScript()
    ->prependFile($this->basePath('js/bootstrap.js'))
    ->prependFile($this->basePath('js/app.js'))
    ->prependFile($this->basePath('js/app.plugin.js'));
?>
<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="msapplication-TileColor" content="#0061da">
    <meta name="theme-color" content="#1643a3">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <meta name="robots" content="nofollow" />

    <?=$this->headTitle($title.' | ');?>

    <?= $this->headMeta(); ?>
    <?= $this->headLink(); ?>
    <?= $this->headScript(); ?>
</head>
<body>
<?=$this->content;?>
<?= $this->inlineScript(); ?>
</body>
</html>