<?php
/**
 * Created by PhpStorm.
 * User: Mehmet HAKKIOĞLU
 * Mail: contact@mehmethakkioglu.com
 * Date: 28.11.2018
 * Time: 20:34
 */
$this->inlineScript()
    ->prependFile($this->basePath('dashboard/bower_components/ckeditor/ckeditor.js'));

$form->prepare();
echo $this->form()->openTag($form);
?>
<script>
    $(document).ready(function () {
        CKEDITOR.replace('textEditor');
    });
</script>
<div class="box">
    <div class="box-header">
        <h3 class="box-title"><?=$title;?></h3>
    </div>
    <div class="box-body">
        <?php
        /** @var \Zend\Form\Form $element */
        foreach ($form->getElements() as $element) {
            ?>
            <div class="form-group">
                <label class="col-md-3 control-label"><?= $this->formLabel($element); ?></label>
                <div class="col-md-12">
                    <?php
                    echo $this->formElement($element);
                    echo $this->formElementErrors($element);
                    ?>
                </div>
            </div>
        <?php } ?>
    </div>
    <div class="box-footer">
        <div class="btn-group">
            <button type="submit" class="btn btn-success"><i class="fa fa-save"></i>    Kaydet</button>
            <a href="<?=$this->url('panel/blog');?>" class="btn btn-warning"><i class="fa fa-arrow-circle-o-left"></i>  Vazgeç</a>
        </div>
    </div>
</div>
<?= $this->form()->closeTag($form); ?>