<?php
/**
 * Created by PhpStorm.
 * User: Mehmet HAKKIOĞLU
 * Mail: contact@mehmethakkioglu.com
 * Date: 19.11.2018
 * Time: 06:59
 */
?>
<?php
$this->headLink()
    ->prependStylesheet($this->basePath('css/font-awesome/css/font-awesome.css'))
    ->prependStylesheet($this->basePath('css/fft.css'))
    ->prependStylesheet($this->basePath('css/style.css'))
    ->prependStylesheet($this->basePath('css/reset.css'))
    ->prependStylesheet($this->basePath('css/media-queries.css'));

$this->headScript();

$this->inlineScript();
?>
<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="msapplication-TileColor" content="#0061da">
    <meta name="theme-color" content="#1643a3">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <meta name="robots" content="nofollow"/>

    <?= $this->headTitle($title . ' | ' . \Core\Module::TITLE); ?>

    <?= $this->headMeta(); ?>
    <?= $this->headLink(); ?>
    <?= $this->headScript(); ?>

    <link rel='stylesheet' id='woocommerce-layout-css'  href='<?=$this->basePath('css/woocommerce-layout.css');?>' type='text/css' media='all' />
    <link rel='stylesheet' id='woocommerce-smallscreen-css'  href='<?=$this->basePath('css/woocommerce-smallscreen.css');?>' type='text/css' media='only screen and (max-width: 768px)' />
    <link rel='stylesheet' id='woocommerce-general-css'  href='<?=$this->basePath('css/woocommerce.css');?>' type='text/css' media='all' />
    <link rel='stylesheet' id='reviewer-photoswipe-css'  href='<?=$this->basePath('css/photoswipe.css');?>' type='text/css' media='all' />
    <link rel='stylesheet' id='dashicons-css'  href='<?=$this->basePath('css/dashicons.min.css');?>' type='text/css' media='all' />
    <link rel='stylesheet' id='reviewer-public-css'  href='<?=$this->basePath('css/reviewer-public.css');?>' type='text/css' media='all' />

    <link rel='stylesheet' id='mvp-media-queries-css'  href='<?=$this->basePath('css/media-queries.css');?>' type='text/css' media='all' />
    <script type='text/javascript' src='<?=$this->basePath('js/jquery.js');?>'></script>
    <script type='text/javascript' src='<?=$this->basePath('js/jquery-migrate.min.js');?>'></script>
</head>


<body class="home page-template page-template-page-home page-template-page-home-php page page-id-97 custom-background woocommerce-js" style="transform: none;" cz-shortcut-listen="true">

<?=$this->content;?>
</body>


<?= $this->inlineScript(); ?>
</body>
</html>