<?php
/**
 * Created by PhpStorm.
 * User: Mehmet HAKKIOĞLU
 * Mail: contact@mehmethakkioglu.com
 * Date: 21.11.2018
 * Time: 08:19
 */
$this->headLink()
    ->prependStylesheet('https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.2.1/pnotify.css')
    ->prependStylesheet($this->basePath('dashboard/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css'))
    ->prependStylesheet($this->basePath('dashboard/bower_components/bootstrap-daterangepicker/daterangepicker.css'))
    ->prependStylesheet($this->basePath('dashboard/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css'))
    ->prependStylesheet($this->basePath('dashboard/bower_components/jvectormap/jquery-jvectormap.css'))
    ->prependStylesheet($this->basePath('dashboard/bower_components/morris.js/morris.css'))
    ->prependStylesheet($this->basePath('dashboard/dist/css/skins/_all-skins.min.css'))
    ->prependStylesheet($this->basePath('dashboard/dist/css/AdminLTE.min.css'))
    ->prependStylesheet($this->basePath('dashboard/bower_components/Ionicons/css/ionicons.min.css'))
    ->prependStylesheet($this->basePath('dashboard/bower_components/font-awesome/css/font-awesome.min.css'))
    ->prependStylesheet($this->basePath('dashboard/bower_components/bootstrap/dist/css/bootstrap.min.css'));

$this->headScript()
    ->prependFile('https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    ->prependFile('https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
    ->prependFile($this->basePath('dashboard/bower_components/jquery/dist/jquery.min.js'));


$this->inlineScript()
    ->prependFile('https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.2.1/pnotify.js')
    ->prependFile($this->basePath('dashboard/dist/js/demo.js'))
    ->prependFile($this->basePath('dashboard/dist/js/pages/dashboard.js'))
    ->prependFile($this->basePath('dashboard/dist/js/adminlte.min.js'))
    ->prependFile($this->basePath('dashboard/bower_components/fastclick/lib/fastclick.js'))
    ->prependFile($this->basePath('dashboard/bower_components/jquery-slimscroll/jquery.slimscroll.min.js'))
    ->prependFile($this->basePath('dashboard/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js'))
    ->prependFile($this->basePath('dashboard/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js'))
    ->prependFile($this->basePath('dashboard/bower_components/bootstrap-daterangepicker/daterangepicker.js'))
    ->prependFile($this->basePath('dashboard/bower_components/moment/min/moment.min.js'))
    ->prependFile($this->basePath('dashboard/bower_components/jquery-knob/dist/jquery.knob.min.js'))
    ->prependFile($this->basePath('dashboard/plugins/jvectormap/jquery-jvectormap-world-mill-en.js'))
    ->prependFile($this->basePath('dashboard/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js'))
    ->prependFile($this->basePath('dashboard/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js'))
    ->prependFile($this->basePath('dashboard/bower_components/morris.js/morris.min.js'))
    ->prependFile($this->basePath('dashboard/bower_components/raphael/raphael.min.js'))
    ->prependFile($this->basePath('dashboard/bower_components/bootstrap/dist/js/bootstrap.min.js'))
    ->prependFile($this->basePath('dashboard/bower_components/jquery-ui/jquery-ui.min.js'));
?>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <?=$this->headTitle($title.' | '.\Core\Module::TITLE);?>

    <?= $this->headMeta(); ?>
    <?= $this->headLink(); ?>
    <?= $this->headScript(); ?>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <?=$this->partial('partial/panel-header');?>
    <?=$this->partial('partial/panel-sidebar');?>
    <div class="content-wrapper">
        <section class="content">
            <?=$this->content;?>
        </section>
    </div>
    <?=$this->partial('partial/panel-footer');?>
</div>
<?= $this->inlineScript(); ?>
</body>
</html>